[2020-04-23 11:56] jbesomi opened #1 "Preprocessing issue "E-I-E-I-O" with pipeline lowercase + stop_words"
**Problem:**

Given the sentence

And the pipeline `pre.lowercase`, `pre.remove_stopwords`. Method `clean` returns

It should returns:

**Code:**

[code]

[2020-04-23 14:36] jbesomi opened #2 "Characteristic terms"
As now, `top_words` counts the occurrences of the word.

Which other algorithms can be used to select the most *characteristic* terms?

Inspirations: https://github.com/JasonKessler/scattertext

Keywords: **Fisher's test select** and **Rudder** score.

[2020-04-24 06:53] jbesomi opened #3 "Infer language type [multilingual feature]"
**Enhancement**:

Add a _find language function_. Given a pd.DataFrame, add a columns with the language acronyms (_en_, _de_, _fr_) etc.

Also, it may be handy to group this kind of function under a representative class/method, for instance, _multilingual_.

[2020-04-26 11:02] jbesomi opened #4 "Duplicates"
Add a function to check for text duplicates.

[2020-04-26 15:48] ymentha14 opened #5 "Kmeans topics detection"
A feature involving topics detection for unsupervised learning  (KMeans for ex) would be really welcome!

[2020-04-27 15:22] jbesomi commented on #5
Thank you @ymentha14.

Version 1.0.4 supports `representation.do_kmeans`, `representation.do_dbscan` and `representation.do_meanshift`

Example:

[code]

Return the following scatterplot:

![scatterplot](https://raw.githubusercontent.com/jbesomi/texthero/master/website/static/figure/scatterplot_bccsport_kmeans.svg)

[2020-04-27 15:22] #5 closed

[2020-04-29 17:04] jbesomi opened #6 "Scatterplot color with Boolean values is not rendering properly"
On `texthero.visualization.scatterplot`, when a column of boolean values is passed as `color` arguments, no colors are rendered.

[2020-05-03 15:07] jbesomi opened #7 "Allow a custom stop-words list"
Allow a custom stop-words list to `remove_stop_words` function

**Edit** Starting from v1.0.6, the function is called `remove_stopwords` (without the second underscore)

[2020-05-04 01:11] Bronzekorean commented on #7
Hi Jonathan,

The project is very good and can save a lot of time for data exploration.

I've started working on this issue. I think the default behavior should still be to have the nltk stopwords.

I though of three ways to solve this:
1- remove_stop_words(input: pd.Series, stop_words=stopwords.words("english"))
     raises two problems:
        - default is mutable
        - can't import without

[2020-05-04 10:53] jbesomi commented on #7
Hi Bronzekorean,

thank you for your positive replay and thank you for your help!

I agree with you we need to figure out a nice solution.

What do you think if we do like that:

Add a `get_default_stop_words()`
  - returns the defaukt NLTK stopwords
  - (addition) extra argument (`spacy=False`?) to decide whereas to return NLTK default words or SpaCy default words

Edit `remove_stop_words(input,

[2020-05-04 10:58] jbesomi opened #8 "Add replace_punctuation and replace_digits"
Example:

[code]

[code]

(arguments name can be changed)

[2020-05-04 18:54] jbesomi opened #9 "Parameters in the hero.clean() function to activate individual pre-processing steps"
It would be cool to have parameters in the hero.clean() function to activate individual pre-processing steps instead of constructing a custom pipeline.

Proposal by @mxhofer

Notes: the solution should keep the `clean` function simple to read and use.

[2020-05-05 11:27] ParthGandhi commented on #7
another way is to use a file with a namespaced attribute instead of a method i.e.

[code]

[2020-05-05 11:30] ParthGandhi commented on #8
Why a new method and not overload the existing method?

In fact maybe you don't need a `remove` at all? just a `replace` with a default `replace_with=""` is equivalent to a remove.

[2020-05-05 16:53] jbesomi commented on #7
It's also a good idea. Pick one and it's gonna be fine; as long as it's consistent.

[2020-05-05 16:54] jbesomi commented on #8
True. You want to implement it?

[2020-05-07 19:21] jbesomi opened #10 "Add hero.phrases(s)"
(Edited)

For some NLP tasks, it's useful to merge tokens together. For instance "New York" should be considered as a single word: "New_York".

As of now, `tokenize_with_phrases` from [preprocessing.py](https://github.com/jbesomi/texthero/blob/master/texthero/preprocessing.py) does exactly that. This function is not published now on the website.

`tokenize_with_phrases` uses Gensim [PhrasesTransfo

[2020-05-08 14:52] jbesomi opened #11 "Add PDF support"
Add PDF support. It should be possible to analyze text data starting from pdf documents.

[2020-05-08 14:54] jbesomi opened #12 "Wordclouds"
Add wordclouds under visualization.

[2020-05-08 16:03] jbesomi opened #13 "Extract entities from text"
Need an efficient way to extract entities from text.

[2020-05-08 16:50] jbesomi opened #14 "Correct mistakes"
Or at least check how many mistakes in a sentence.

See: https://pypi.org/project/pyenchant/

[2020-05-08 17:33] ParthGandhi opened #15 "How to set up development environment?"
Also how do you run tests and build documentation locally?

[2020-05-08 21:15] jbesomi commented on #15
Hi ParthGandhi,

thank you for opening an issue!

There is not really a development environment now. For now and to keep things simple, the idea is to simply fork the repo, make the changes and add a pull request.

To execute the tests, you can run `./check.sh`. This also check the doctests in the docstring.

The documentation is built with [docusaurus](https://docusaurus.io/). If, for any reason,

[2020-05-08 21:17] jbesomi opened #16 "Add style to the API documentation"
By adding a custom stylesheet for the [API pages](https://texthero.org/docs/api-preprocessing).

[2020-05-09 19:33] jbesomi commented on #1
Fixed in upcoming version 1.0.7 + added it in test to avoid a similar mistake in the future.

[2020-05-09 19:33] #1 closed

[2020-05-10 13:32] selimelawwa commented on #12
I have implemented this using [Word Cloud Python Library](https://github.com/amueller/word_cloud)

[2020-05-10 14:11] jbesomi opened #19 "Adding metadata to Series"
When we apply `tfidf` and `term_frequency` for instance, it would be very valuable to have the `get_feature_names()` information integrated into the Series.

There are different methods to do that, yet I still haven't found a reliable solution.

[code]
works, but, if we assign this series to a Dataframe, the metadata are lost.

The solution is probably one from the following:

[Extending Pandas](h

[2020-05-10 21:27] #12 closed

[2020-05-11 01:52] selimelawwa commented on #10
@jbesomi please explain more details, how do you need to support this. In which functions..etc

[2020-05-11 01:55] selimelawwa commented on #13
Should we use spaCy NER? or do you have another idea in mind? @jbesomi

[2020-05-11 09:00] jbesomi commented on #13
Implemented, see here: [nlp.py](https://github.com/jbesomi/texthero/blob/master/texthero/nlp.py). What is left done is do adding documentation.

[2020-05-11 09:03] jbesomi commented on #10
Look at [nlp.py](https://github.com/jbesomi/texthero/blob/master/texthero/nlp.py). `noun_chunks` return relevant noun phrases that it's similar.

Wondering if we want a function that just returns the top-ngrams, for instance when n=2, all couple of words "hello world" most common in a given text.

We need to understand if such functionality might be useful for someone.

[2020-05-14 14:26] jbesomi opened #20 "Automated readability index"
Add a function that compute the [Automated readability index](https://en.wikipedia.org/wiki/Automated_readability_index).

[2020-05-15 09:23] #7 closed

[2020-05-16 15:04] selimelawwa commented on #9
@jbesomi Would you suggest to add a **kwargs parameter to the clean function? or add some parameters with default value?

[2020-05-16 15:07] selimelawwa commented on #4
@jbesomi Should it be checking line by line and if a line is duplicate remove it?
or no removal just state that there is duplicates.

[2020-05-16 15:44] jbesomi commented on #4
The idea here is to compare long text of documents and try to find if there are some of them too similar; in this case, it might mean that documents are indeed duplicates. There are many applications for that, for instance, to detect plagiarism in papers.

A naive approach is to apply TF-IDF and look at the distance between vectors.

[2020-05-22 21:16] selimelawwa commented on #14
@jbesomi I have check the library.
We can create a function `count_mistakes` which can return number of mistakes per sentence.

For correcting mistakes, the library has a method `suggest(word)` which returns list of suggestions for the given word. We can have a method `correct_mistakes` that by default chooses the first word in the suggestions and replace the incorrect word with it? Do you have an

[2020-05-22 21:46] jbesomi commented on #14
Good idea. *return number of mistakes per pandas Series-_row_.

[2020-05-22 22:33] selimelawwa commented on #14
Ok but what about correct mistakes?

[2020-05-22 22:36] jbesomi commented on #14
As you proposed is fine. Only thing, before going with pyenchant, would be great to select 2/3 similar package, test and rank them and finally implement count_mistakes and correct_mistakes.

[2020-05-24 15:15] selimelawwa commented on #8
@jbesomi I think this issue should be closed.

[2020-05-24 15:50] selimelawwa commented on #13
@jbesomi Close the issue then.

[2020-05-24 16:11] #13 closed

[2020-05-24 16:12] #8 closed

[2020-05-24 18:47] selimelawwa commented on #14
Hi, I checked and these are the alternative options:

- [symspellpy](https://github.com/mammothb/symspellpy) which is a python port to [SymSpell](https://github.com/wolfgarbe/SymSpell)
- [spacy_hunspell](https://spacy.io/universe/project/spacy_hunspell)
- [pyspellchecker](https://github.com/barrust/pyspellchecker)

These sources claim [SymSpell](https://github.com/wolfgarbe/SymSpell) should be the

[2020-05-25 12:51] jbesomi commented on #14
Great. Both sources do not cite and do not benchmark pyenchant. Probably, we should test ourself both pyenchant and symspellpy both for quality of results and execution time and pick the best. In the end, we might decide to pick both and let the user decide. In this case, we would need anyways a benchmarking to understand which ones work best in which situation. What's your opinion Selim?

[2020-06-01 22:20] selimelawwa commented on #14
Sorry for late reply, We had holidays here in Egypt after Ramadan. Yeah I think we should test both too to be able to determine ourselves which is better and for which use case. However how do you  suggest testing for the quality on of result for large data? I will start on them from tomorrow, keep you updated

[2020-06-02 05:22] jbesomi commented on #14
No problem; thank you for your help! For the performance comparison, just pick a large NLP dataset and compare the execution time. For quality, I guess you need to look at the results yourself and decide.

[2020-06-02 12:08] selimelawwa opened #24 "Support reading text data from PDF and PowerPoint"
PDF, PowerPoint presentations and other unstructured text, contain very valuable data that can be used for analysis.
There are many tools providing this features. It would be nice if we can provide a single method to read such files and don't bother user with this.

There is a python library [textract](https://textract.readthedocs.io/en/stable/index.html) provide this functionality unfortunately i

[2020-06-02 12:45] jbesomi commented on #24
Very interesting comment. Completely agree that we should do something related.

**textract** There are also other python tools for PDF extraction such as [PyPDF2, PDFminer](https://medium.com/@umerfarooq_26378/python-for-pdf-ef0fac2808b0), etc.

**dataLoader** as the use cases are quite different from task to task and also as this feature is a bit too far from the core idea of texthero, an altern

[2020-06-02 13:56] selimelawwa commented on #24
Completely agree with your final comment ! Even though this is not one of the core goals of texthero, but I think it can be a cool feature to have. Just wanted to write it down so it can be made later on after core is built and running. I think having ideas written down / shared is good for the project.

My idea for a universal data loader is that it appears as "universal" to the user, however it

[2020-06-04 05:59] jbesomi opened #26 "Add a flag to remove_punctuation to prevent removing punctuation in a token"
**Overview**

During pre-processing, when we need to remove punctuation, sometimes we want to preserve punctuation in the token. Example:

[code]

In this case, we might expect `remove_punctuation` to return:

[code]

**Approach**

Need to modify `remove_punctuation` and add a new argument `keep_tokens` or `remove_in_between` or something like that.

For the implementation, we can either tokenize

[2020-06-04 14:34] selimelawwa opened #28 "Create a method to summarize text data"
**Overview**
We need to have a method that take in a pd.Series of text data and be able to summarize it, identify topic, important entities and figures.

**Approach**
Research deep learning approaches to summarizing text and decide on the most suitable one.
Use spacy or similar libraries to identify main entities

**Help is required and all ideas are welcome!**

[2020-06-04 21:41] selimelawwa commented on #28
@jbesomi After initial research, there is 2 types of text summarization:

1. Extractive Summarization: identify the important sentences or phrases from the original text and extract only those from the text. Will be easier to implement.  Please check below related links
[link1](https://stackabuse.com/text-summarization-with-nltk-in-python/#:~:text=Text%20summarization%20is%20a%20subdomain,and%20de

[2020-06-07 08:26] jbesomi commented on #28
Hi Selim!

Not that for identify entities, we have `texthero.nlp.named_entities`.

Great, interesting insights! The only concern is that it might be computationally expensive, especially when the initial DataFrame is large

[2020-06-10 13:39] Jacklau9515 opened #29 "Any way I can upload texthero visualization plot to my Plotly dashboard?"
Hi,

I am just curious about if it is doable I can directly upload the plot to my plotly dashboard once called hero.scatterplot()?

chart_studio.tools.set_credentials_file(username='username', api_key='token')
chart_studio.tools.set_config_file(world_readable=True, sharing='public')

Regards,
Jack

[2020-06-10 23:31] Jacklau9515 commented on #29
Hi @jbesomi. No worries, and I will share my code below:
`import texthero as hero
import pandas as pd

import chart_studio
import chart_studio.plotly as py

chart_studio.tools.set_credentials_file(username='your_username', api_key='your_apikey')
chart_studio.tools.set_config_file(world_readable=True, sharing='public')

df = pd.read_csv(
    "https://github.com/jbesomi/texthero/raw/master/dataset/b

[2020-06-11 16:38] jbesomi commented on #29
Thank you @Jacklau9515. Great! If you have any other feedback and/or advice, please let us know.
Regards

[2020-06-11 16:38] #29 closed

[2020-07-05 21:28] jbesomi opened #30 "Add replace_hashtags, remove_hasthags"
(Edit)

Add `replace_hashtags`, `remove_hastags`

**Example**:

[code]

**Implementation**

Please refer to the other replace_*, remove_* examples by looking at the code in `preprocessing.py`. `remove_hashtags` should simply call `replace_hashtags` with symbol=` `.

Thank you  [/u/penatbater](https://www.reddit.com/user/penatbater) from Reddit for the suggestion.

[2020-07-06 07:20] ouening opened #31 "ERROR: No matching distribution found for plotly-express>=0.4.1 (from texthero)"
Hi, when I tried to install texthero both in win10 and ubuntu18.04, I got error as title said. How can I solve it?

[2020-07-06 07:39] ouening commented on #31
I installed it from source, modified file `setup.cfg`

[2020-07-06 07:39] #31 closed

[2020-07-06 07:47] jbesomi commented on #31
Hi @ouening, thank you for reaching out!

How did you modified `setup.cfg`?

Thank you for showing this issue. According to the [plotly_express documentation](https://pypi.org/project/plotly-express/), plotly_express has been integrated into Plotly. We will remove plotly_express and use plotly.express instead in the next version.

Regards

[2020-07-06 07:50] ouening commented on #31
Th error log is
[code]
So I modified **line 35** to `plotly_express>=0.4.0` to meet the requirement.

[2020-07-06 10:00] weiexcelpro opened #32 "cannot import NLTKWordTokenizer"
Should I install a specific version of NLTK?

when I run :
`import texthero as hero
import pandas as pd

df = pd.read_csv(
   "dataset/bbcsport.csv"
)

df['pca'] = (
   df['text']
   .pipe(hero.clean)
   .pipe(hero.tfidf)
   .pipe(hero.pca)
)
hero.scatterplot(df, 'pca', color='topic', title="PCA BBC Sport news")`

I got this output:

[nltk_data] Downloading package stopwords to
[nltk_data]     /ho

[2020-07-06 10:13] jbesomi commented on #32
Hey Wei, thank you for opening an issue!

By updating NLTK you should automatically solve the problem:

[code]

I will fix this in the upcoming version. Please let us know if that worked.

Regards,

[2020-07-06 10:36] jbesomi opened #33 "AttributeError: 'WordCloud' object has no attribute 'generate_from'"
`hero.wordcloud` is not working. @selimelawwa may you look into that?

Error:
AttributeError: 'WordCloud' object has no attribute 'generate_from'

[2020-07-06 14:46] pengyong94 commented on #32
Sorry,it does not work.i had updated to NLTK-3.5
expect  for upcoming version

[2020-07-06 15:01] jbesomi commented on #32
Ok. Will fix this shortly, already in a couple of hours, I guess.

Another question. If you fire up python3 and run

[code]

Does it work?

I tried on my PC with NLTK 3.5 and it worked fine.

[2020-07-06 20:34] jbesomi commented on #32
Version 1.0.9 has been released. This should have solved the issue. May you please check and let me know?
Thank you in advance!

[2020-07-07 02:24] weiexcelpro commented on #32
Many thanks, I will try it right now~~

[2020-07-07 02:35] weiexcelpro commented on #32
it worked! Thank you all!

[2020-07-07 02:35] #32 closed

[2020-07-07 19:05] jbesomi commented on #33
Solved in [Fix wordcloud](https://github.com/jbesomi/texthero/commit/c0bd33e1b1a62de2c968e52bf3dfbc88d5d0c080) issue.

[2020-07-07 19:05] #33 closed

[2020-07-08 08:34] VinayChaudhari1996 commented on #30
Updated 2 Functions,

[code]

[2020-07-08 09:07] AdamHodgson commented on #26
I'd agree that the default behaviour should be to remove _all_ punctuation.
I'll try to submit a pull request with these changes later today.

[2020-07-08 09:20] jbesomi commented on #26
Hi @AdamHodgson! Thank you. When you submit a PR, please do not forget to add new unit tests.

[2020-07-08 09:52] igponce commented on #24
There's a good library TIKA-Python (https://github.com/chrismattmann/tika-python) that handles PDFs, emails, and other formats as well.
It is based on apache tika (http://tika.apache.org/) and the maintainer is on the Apache Tika board.

The only con I find is that it needs a JVM to run TIKA behind the scenes; but it's very easy to start using it:

[code]

[2020-07-08 09:52] jbesomi opened #36 "Add POS tagging"
Under the nlp module, add part-of-speech tagging `hero.pos`. Again here the solution would be to use spaCy. This should not be particularly complex as the code would resemble `named_entities` or `noun_chunks`.

Food for thoughts: having separate functions allows for simple code, but it makes the pipeline quite inefficient as every time an NLP function is called spaCy has to go through all the corp

[2020-07-08 10:01] igponce commented on #4
I suggest having several methods for handling duplicated.

In the very simplest form, you might just need to chech againsta a hash (sha1, for instance) to be sure you don't have exact duplicates (ok, this might be a preprocessing job).

The inteface might look like Pandas.Series.unique() but specifying a method / way to do the deduplication: unique( method='hash | jaquard | etc.' , threshold=xx).

[2020-07-08 10:19] jbesomi commented on #24
Hi @igponce! Thank you for your comment!

Adding native PDF support might be a bit out of Texthero's [purposes](https://github.com/jbesomi/texthero/blob/master/PURPOSE.md).

What it's definitely useful is to have a tutorial on the [Texther's blog page ](https://texthero.org/blog/) that explains how to start hero-analyzing a collection of documents, starting from raw and other formats.

There are d

[2020-07-08 10:26] jbesomi commented on #4
Hey @igponce,

Exactly, the interface would look like `hero.unique(df['text])`.

A simple-yet-powerful solution is to simply compute a good representation of each text and remove documents that have very similar vectors.

Right, as you point the function will have as argument `threshold`. We will need to do some tests and pick a good one as default. This will largely depend on the underline algori

[2020-07-08 11:36] jbesomi commented on #19
Closing this now as any solution would be over-complicated and it does not reflect the principle of keep things simple.

[2020-07-08 11:36] #19 closed

[2020-07-08 12:06] jbesomi commented on #16
Done.

[2020-07-08 12:06] #16 closed

[2020-07-08 12:17] jbesomi opened #38 "Preprocessing: explain how to create a custom pipeline"
Add under `Getting Started - Preprocessing` a section that explains how to create a custom pipeline. This solution is easier than #9

[2020-07-08 12:18] jbesomi commented on #9
Texthero's aim to be very simple. This enhancement would require to add many arguments to the clean function. Furthermore, in this case, the easiest solution would consist of just creating a custom pipeline: #38

[2020-07-08 12:18] #9 closed

[2020-07-08 16:04] jbesomi opened #40 "Move website from Docusaurus to Sphinx"
**Motivation**

Initially, [docusaurus.io](https://docusaurus.io/) has been chosen as a tool to visualize Texture's documentation on the website.
Docusaurus is great for two reasons: it's very beautiful and it's super easy to use as users need to write simple markdown files.
Docusaurus's main drawback is that it does not support natively [Sphinx](https://www.sphinx-doc.org/en/master/), the python

[2020-07-08 16:13] jbesomi opened #41 "Add a FAQ page to the website"
Some of the user's most common questions are:

- Does Texthero support other languages than English?
- How fast is Texthero?

Other important questions are:

- Why Texthero in the era of Transformers? (spoiler: preprocessing and understanding data is crucial before using fancy ML model)
- How can I contribute?

These questions should be added and answered in a _clean_ page on [texthero.org](http:/

[2020-07-08 16:22] jbesomi opened #42 "Implement/support/explain topic modelling"
**Goal**
Implement topic modeling on Texthero.

**Topic modeling**
There are mainly two ways to do topic modeling: LSA/LSI (latent semantic indexing) and LDA (Latent Dirichlet allocation). This [simple tutorial](https://towardsdatascience.com/2-latent-methods-for-dimension-reduction-and-topic-modeling-20ff6d7d547) explains how to implement it in python.

**Python implementation**
LSA/LSI is just b

[2020-07-08 16:41] jbesomi opened #43 "Support "Pandas Series Representation""
This is one of the most interesting (future) aspects of Texthero: the ability to represent any text-dataset with ease, even very large dataset.

**Motivation**
One of the big limitations of the current version of the Texthero is that the output of the `tfidf` function or whatever other "representation" function is not particularly interpretable. The user do not even know which tf-idf weight is ass

[2020-07-08 16:42] igponce commented on #24
Good point on getting PDF etc. out of scope: it's vert tempting to add stuff; but hard to leave it aout.
I'll send you a draft, just after I make some experiments myself. Maybe next week.

[2020-07-08 16:56] jbesomi opened #44 "TokenSeries as input to every representation function"
One of the principles of Texthero is to give to the NLP developer more control.

**Motivation**

A simple example is the [TfidfVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html) object from the scikit learn. It's absolutely fast and great but it has too many parameters and before applying the TF-IDF it actually preprocesses the text

[2020-07-08 17:05] jbesomi opened #45 "Add most_similar(s, distance_algorithm, vector)"
Add `hero.most_similar(s, representation, distance_algorithm, threshold, vector)`

This task is very similar to #4.

Given a Pandas Series, the code returns a Pandas Series ordered by the distance from the vector.

**Open question** (same question as #4)

In case of `s` is a Text Series, `representation` is required.
In case of `s` is already represented (i.e is a Representation Series), `represen

[2020-07-08 17:07] jbesomi commented on #24
Sounds amazing! Looking forward to that!

[2020-07-08 21:46] tmankita commented on #3
Hi,
I would like to pick up this issue if no one is working on it yet.
Just to be sure, the tasks are
 - implement a character-based function that infers the language of the text
- group all the above logic to a multilingual class.

[2020-07-09 07:22] jbesomi opened #49 "Add replace_tags, remove_tags"
This task is very similar to #30, only difference is that functions here replace/remove a tag @ and not a hashtag @.

For details, please refer to #30.

If you want to contribute, please read [CONTRIBUTING.md](https://github.com/jbesomi/texthero/blob/master/CONTRIBUTING.md) first.

[2020-07-09 11:05] jbesomi commented on #3
Hi @tmankita, nice to hear from you! Thank you for your comment; I realized that the issue wasn't well explained. I added some comments, please have a look and tell us if you think you can work on this :)

- implement a character-based function that infers the language of the text
--> word-based might work as well; chose the approach you think is the best
- group all the above logic to a multiling

[2020-07-09 12:14] #49 closed

[2020-07-09 12:48] tmankita commented on #3
@jbesomi Sounds grate. My game plan is:
- do some research according to infer language algorithms.
- present here the algorithm options and my recommendation.
- we will pick one or more algorithms and implement them.
- for each of them, I will present  the accuracy score on a large dataset.
- We will choose the best algorithm based on my result and create for him PR.
What do you think about the pl

[2020-07-09 14:31] jbesomi commented on #3
Dear Tomer, your plan sounds perfect to me! Looking forward to seeing what you will come up with.
All right then ... let's go for `infer_lang` :)

[2020-07-09 14:40] ishanarora04 commented on #30
Hey, this is exactly similar to tags ?

[2020-07-09 14:43] jbesomi commented on #30
Yes! :) want to take it? (probably you are the better match out there :))

[2020-07-09 14:48] ishanarora04 commented on #30
yes, I will pick this up tonite.

[2020-07-09 17:46] henrifroese opened #54 "Add tests for (and implement when missing) using the input's index when returning a new Series."
For functions that take as input a pandas Series s, and then return a new pandas Series t, we have to be careful to use the index from s for the series t as well. This allows users to seamlessly integrate the function's result and continue working with it.

An example for a test would be the following (note it does not test whether the function works correctly, other test cases should check that;

[2020-07-09 17:57] henrifroese opened #55 "Check if Series consists of strings only, instead of casting to unicode"
Currently, some functions do not check if the Series they get as input really consists of strings only, and they give unexpected results, e.g. if there are missing values.

Example:
[code]

This could be fixed by stopping to use ```s.astype('unicode')``` which e.g. converts np.nan -> "nan". Instead, a function should check whether the Series consists of strings only. Something along the lines of
[

[2020-07-09 19:22] bidetaggle opened #56 "French translation contribution"
Hi,

I read the part about multilingual support, I'm a French native speaker, let me know how I can help you :)

[2020-07-09 22:50] lydz1209 opened #59 "salutt"

[2020-07-10 09:48] jbesomi opened #60 "Kind of Pandas Series"
**Motivation**

Having a unified view and a clear idea of the expected Pandas Series input it's useful both for the users and for the developers.

To receive precise and correct _errors_ is very valuable for the users as this permits an easy and pleasant debugging. We can summarize three _kinds_ of Pandas Series a Texthero's function can receive as input (or it can output):

**Types**

- "Pandas T

[2020-07-10 09:52] jbesomi commented on #59
Hey @lydz1209, I'm closing this as there is description provided.
regards,

[2020-07-10 09:52] #59 closed

[2020-07-10 09:59] jbesomi commented on #56
Hey @bidetaggle, thank you for your availability!
May you please tell us a bit more about you and how you plan to contribute?
You can start by reading [CONTRIBUTING.md](https://github.com/jbesomi/texthero/blob/master/CONTRIBUTING.md) as well as [PURPOSE.md](https://github.com/jbesomi/texthero/blob/master/PURPOSE.md)

For contributing, you can look for an open issue (start maybe with `good first is

[2020-07-10 10:04] jbesomi commented on #55
Amazing!

We might want to have a different name for this function. If we agree on the name of the kinds of pandas series defined in #60, we could call it `_check_is_text_series` or something like that.

Can you work on this?

[2020-07-10 14:09] jbesomi opened #61 "count(s) and term_frequency(s)"
Texthero's  `hero.term_frequency(s)` should be reanamed `hero.count(s)` as in reality it just count the term.
Because of that, we should add another function that implements `hero.term_frequency` that is: "(number of times term t appears in a document) / (Total number of terms in the document).

The distinctions between the two should be made clear in both docstring and both functions should have

[2020-07-10 14:11] jbesomi opened #62 "Add better docsting for texthero.nlp.noun_chunks"
[texthero.nlp.noun_chunks](https://texthero.org/docs/api/texthero.nlp.noun_chunks) docstring is very poor. It would be great to have a more informative documentation.

[2020-07-10 16:26] henrifroese commented on #55
Yes, I'll think about / make some comments at #60 and work on this one.

[2020-07-10 22:17] JoseDeFreitas opened #63 "Spanish translation contribution"
Hello 👋. My name is José De Freitas, I'm a native Spanish speaker and I can help contribute to this project by translating it into Spanish. I'm opening this issue because I saw in the README file that you'll like multilingual support and content.

## About me

I born in a Spanish language-country. Spanish is my main language. I started learning English at the age of 4 (and I'm still doing it).
I'v

[2020-07-11 04:06] avinashbhat commented on #61
If I understand correctly, the existing ```term_frequency``` method has to be renamed to ```count``` without any modification except that in the docstring, and another ```term_frequency``` method needs to be defined?

[2020-07-11 09:02] jbesomi opened #65 "Make spaCy-nlp functions faster"
Almost all functions of the `nlp` module under-the-hoods make use of [spaCy](https://spacy.io/).

In general, spaCy is quite fast as it uses Cython.

The core code looks like this:

[code]

`spacy pipe` has been initially chosen as it's [multi-threading](https://explosion.ai/blog/multithreading-with-cython). An alternative might be to use `apply` ( probably is slower).

The `pipe` functions have a

[2020-07-11 09:08] jbesomi commented on #63
Hi @JoseDeFreitas! Thanks a lot for the great introduction and your willingness to help, we are glad to have you there!

Translating all the documentation from English to Spanish might be a valuable feature for all the Hispanosphere! Great initiative!

Before permitting that, we will need to put in place a system to allow that. We will need at least a week to put this system on. We will be back to

[2020-07-11 10:25] avinashbhat commented on #62
I made an attempt at this after reading the existing docstrings and the one mentioned here. Do you want me to paste the changes in this thread so that you can take a look at it, or should I submit a PR?

[2020-07-11 10:27] jbesomi commented on #62
Hey @avinashbhat, as you prefer! Either way work as we will need to both review it and integrate the changes with a PR.

[2020-07-11 10:30] avinashbhat commented on #62
Alright then, how does this look?
[code]

[2020-07-11 10:38] jbesomi commented on #62
Great job! Thank you!!

Some minor feedback:

1. The docstring needs a heading title, separate by an empty line from the rest, look at some similar docstring for ideas
2. We should better specify how the output pandas series look like (every cell is a list of tuple where each tuple is composed of ...). This can be done in the body of the docstring and therefore we can remove the "Return" section (

[2020-07-11 13:05] mikewakawski opened #67 "Arabic support"
Hi, my name is Adam. I'm a native Arabic speaker, and I'm interested in helping out as much as I can in this project.

**Previous Experience**
I have never worked on an NLP project before but i'm used to normal classification and regression problems using SVM, KNN and Logical Regression but i've seen on the README that that is not an issue and you're fine with someone new to NLP.

[2020-07-11 13:05] avinashbhat commented on #62
@jbesomi I have updated it based on your feedback. I was not sure what you meant by a heading title in the first suggestion, although I did modify it to look like the other docstring. Do let me know if this or anything else needs to be further changed. Thanks :)
[code]

[2020-07-11 15:53] AlfredWGA opened #68 "Chinese language support"
Hello, my name is Guoao Wei. I am a Chinese student interested in NLP and I can help with the Chinese language support for this amazing repository.

## About me

I received a bachelor's degree of Software Engineering in China. I worked as a research intern in the Chinese Chinese Academy of Sciences for a year, focusing on NLP-related topics.

I have been searching for tools that saves time on writ

[2020-07-11 21:32] henrifroese commented on #60
I just opened a first draft PR in #69 as a step to implementing this. I'll copy the new file _helper.py 's docstring here:

Hero Series Types
=================

There are different kinds of Pandas Series used in the library, depending on use.
For example, the functions in preprocessing.py usually take as input a Series
where every cell is a string, and return as output a Series where every cell
is

[2020-07-12 01:30] cmhashim opened #70 "Feature Request - Stats for Speech Corpus CSV's"
Hi ,

@jbesomi This is great initiative, and you gave it when we needed it most, Thanks, Hero.!

I have been working on ASR, for which i with text corpus as well as speech corpus. I hope the following feature if added will be more helpful for people working on ASR.

**Stats of a text corpus**
- count_sentence = count number of sentence in the given column ( given text corpus)
- count_words = count

[2020-07-12 03:58] cmhashim opened #71 "Remove Diacritics for Urdu Language"
I would like to contribute for Urdu language support, let me start with simple issue now,

For the Urdu text with diacritics text = "اِس, اُس"

following code produces incorrect output

[code]
produces the output **_is, us_** which is not the intended., but it is transliterated output.

The intented output is اس, اس

Probably which can be acheived by replacing following diacritics char

 **Urdu Di

[2020-07-12 14:14] tmankita commented on #3
Dear Jonathan, @jbesomi
After doing some research, I present to you my findings:

I found a StackOverflow response (https://stackoverflow.com/a/47106810) that summary all open source libraries that deal with inference language, so I do a performance test for all those libraries.

**Dataset: (From http://www.statmt.org/europarl/)**
21,000 senteces
21 languages : English, Bulgarian, Czech, Danish, G

[2020-07-12 17:56] henrifroese commented on #71
Hi, I just had a look and opened a PR to fix this at #72 . I pasted the new functions there, would be great if you could try them out and comment there whether everything works for you. Maybe I missed something regarding the Urdu language.

[2020-07-12 18:30] vidyap-xgboost opened #73 "Colab notebook crashing while calculating PCA/K-Means. CSV file contains 80,000+ rows!"
Hello,

I'm trying to visualize Kmeans for the dataset I have which has 80K+ rows with 9 columns.

The notebook keeps crashing whenever I try to run this particular code:

[code]

Is it because texthero can't handle that many rows yet?
Any other solution?

[2020-07-13 06:06] cmhashim commented on #71
You can correct me if am doing wrong, I have never engaged into Github.
Installed your version,
`!pip install git+https://github.com/SummerOfCode-NoHate/texthero.git`
and tested with the same code
[code]
gives the following output
[code]

[2020-07-13 06:29] cmhashim commented on #73
Same happened even for me, and assumed its because of "**large data and Colab"**

[2020-07-13 08:15] jbesomi commented on #73
Hi!

This is a known (current) limitation of Texthero. It will be fixed soon in the next releases (Texthero is still in Beta).

The problem arises on the tfidf part, by default max_features is None, meaning a giant matrix doc-term occurrences os created. This is by default sparse, but as of now Texthero convert it into a dense matrix (to be salved as a Pandas Series of list and to be passed into p

[2020-07-13 11:31] henrifroese commented on #71
I believe the issue is that my proposed changes are on the Fix-Remove-Diacritics branch of the repository. With your command, pip uses the master branch where the changes are not yet implemented.
You can try using ``` !pip install git+https://github.com/SummerOfCode-NoHate/texthero.git@Fix_Remove_Diacritics``` , I think that should work. If not, you could just copy the functions I pasted in #72 an

[2020-07-13 11:42] jbesomi commented on #67
Hi Adam!

Thank you for your message and for joining us! We are pleased to have you there.

Do you have any idea how would you like to contribute? If you don't know where to start, you might help us improve the documentation. I will add very soon some extra `good first issue` here on Github.

For any questions, do not hesitate to ask!

[2020-07-13 11:53] jbesomi commented on #68
Hi Guoao!

Thank you for your message and for your help! We are pleased to have you there!!

For the "things, you can do", which one would you be more interested to start with?

For "Translate documents & tutorials into Chinese" this is very cool and very useful, first, though, we will need to set-up a system that allows this kind of translation. Basically, using [Sphinx internationalization](http

[2020-07-13 12:10] jbesomi commented on #71
Hi Hashim,

thank you for your contribution!

@henrifroese and @cmhashim, probably the way we should design multilingual support for Texthero is to have:

[code]

Where this `remove_diacritics` is specialized in dealing with Urdu text.

What's your opinion? That way we can keep the code in each function simple, as well as develop each function for that specific language.

[2020-07-13 12:18] jbesomi commented on #62
That's amazing @avinashbhat, I encourage you to open a PR and update the docstring, will be glad to merge it!

[2020-07-13 12:42] henrifroese commented on #71
I think that if functions for multilingual support are added (e.g. functions to handle stuff regarding arabic script specifically) they should get separate modules and that would make sense. However, I think that this issue/fix is more generally improving the remove_diacritics by preventing transliteration, so it can now handle everything from before + urdu / arabic / ... , which is why I wouldn't

[2020-07-13 12:49] jbesomi commented on #71
That makes complete sense! 👍

[2020-07-13 13:27] mikewakawski commented on #67
Thank you and how can I actually improve the documentation?

This is the first project I'm helping in, I've always just browsed through github but this is the first one I'm interested in.

[2020-07-13 13:32] #54 closed

[2020-07-13 13:51] jbesomi commented on #67
All right, first, read [CONTRIBUTING](https://github.com/jbesomi/texthero/blob/master/CONTRIBUTING.md) and [PURPOSE.md](https://github.com/jbesomi/texthero/blob/master/PURPOSE.md). If you have never contributed to an open-source project before, you will also find useful links that explain step-by-step how the Github workflow work.

Once you will a local version of Texthero ( as explainer in CONTRI

[2020-07-13 13:53] #71 closed

[2020-07-13 14:29] jbesomi opened #76 "tfidf(s): remove normalization, improve docstring"
The `tfidf` function, under-the-hoods makes use of the [sklearn.feature_extraction.text.TfidfVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html).

By default, the `TfidfVectorizer` return a L2-normalized TF-IDF vector. In Texthero, we would like to avoid this hidden behavior, to let the user have more granular control over each action

[2020-07-13 14:33] #62 closed

[2020-07-13 15:30] vidyap-xgboost opened #77 "WordCloud: TypeError: wordcloud() got an unexpected keyword argument 'min_font_size' and 'max_font_size'"
[code]

[code]

I am working on Google Colab and tried using the argument `min_font_size` to change it from `default` value `4` to `2`. But it gives me a TypeError.

Although the [documentation](https://texthero.org/docs/api/texthero.visualization.wordcloud) says the method has the argument, it doesn't take in this argument when changed to another value.

Was this feature removed or yet to be adde

[2020-07-13 15:38] vidyap-xgboost opened #78 "My wordcloud looks ugly. Which argument to change to make it look cleaner?"
Right now my word cloud looks like this:

![Wordcloud](https://user-images.githubusercontent.com/65642130/87323734-cb774880-c54c-11ea-879d-5029509b33f8.png)

**There's lot of blur coming into this cloud, how to reduce the blur and make it look cleaner/sharp?**

[2020-07-13 15:39] jbesomi commented on #77
Good catch!

There are two things that going on there:

1. You should update Texthero `pip install texthero -U`
2. The code will "work", but the size will not change. The reason is that looking at the [source code](https://github.com/jbesomi/texthero/blob/master/texthero/visualization.py) we are not passing `min_font_size` parameter to the underline word cloud object.  Also, `min_font_size` is mis

[2020-07-13 15:44] vidyap-xgboost commented on #77
I would love to!

Just checked for `max_font_size` and its the same error. As you rightly pointed out, the source code's word cloud object doesn't have these parameters.

However, any directions for a beginner to contribute in correcting the source code?

[2020-07-13 15:44] jbesomi commented on #78
Hi @vidyap-xgboost, thank you for being there!

`hero.wordcloud` is a very experimental function and hasn't been exhaustively used and tested yet.

If you look at the source code, you will see that the code makes use of `wordcloud.WordCloud`, a python toolkit to generate wordcloud. I encourage you to have a look at the [WordCloud documentation](https://amueller.github.io/word_cloud/generated/wordc

[2020-07-13 15:45] vidyap-xgboost commented on #78
I will be working on that, thanks for the encouraging words!

[2020-07-13 15:49] jbesomi commented on #77
Sure!

This document: [CONTRIBUTING.md](https://github.com/jbesomi/texthero/blob/master/CONTRIBUTING.md) guide you through all the details.

The big picture is:

1. Fork and download locally the repo
1. Install texthero locally
1. Made the changes (in this case under `visualization.py`)
1. Add new test (under `test_visualization.py` you can start by testing that `min_font_size` and `max_font_size`

[2020-07-13 16:02] AlfredWGA commented on #68
I would prefer to start with adding Chinese support for the preprocessing module.

The most common Chinese NLP tools right now should be [jieba](https://github.com/fxsjy/jieba), [HanLP](https://github.com/hankcs/HanLP), and [pkuseg](https://github.com/lancopku/PKUSeg-python). Also, spaCy has integrated
jieba and pkuseg into its [Chinese language support](https://spacy.io/usage/models#languages).

[2020-07-13 16:17] cmhashim commented on #71
I think its time to do this. It was my mistake i gave very simple example of Urdu text with diacritics, but it much more complex to handle diacritics in Urdu/Arabic. Some diacritics are part of Urdu words, and it must be written,  and some can be excluded. Hence, can we have a optional argument, to exclude/include a list of diacritics to retain/remove it.

Some Examples:

retain_diacritics_eg_text

[2020-07-13 19:54] tmankita commented on #3
Another solution to the improvement, use spaCy and spacy-Langdetect that I used on the dataset. The spacy-Langdetect extends the Langdetect library and has a function that gets a list of probabilities for match languages.
 @jbesomi I will start to implement this solution with the improvement, what do you think? and just to be sure the return value of the infer_lang function is a Pandas.DataFrame t

[2020-07-14 08:58] vidyap-xgboost opened #81 "FileNotFoundError: [Errno 2] No such file or directory: './_build/html/preprocessing.html'"
I'm trying to run unit tests on my Ubuntu 18.04

I keep getting this error when I run `./check.sh`:

[code]
This is the file its running: [to_docusaurus.py](https://github.com/jbesomi/texthero/blob/master/docs/to_docusaurus.py)

I did pull the latest code.
Is that particular file moved to somewhere else?

[2020-07-14 09:09] vidyap-xgboost opened #82 "In setup.cfg, should parameterized>=0.7.4 be in development dependencies or install_requires? in relation to PR #66"
In [setup.cfg](https://github.com/jbesomi/texthero/blob/master/setup.cfg), should `parameterized>=0.7.4` be in **development** dependencies or **install_requires**?

As per the [documentation](https://github.com/jbesomi/texthero/blob/master/CONTRIBUTING.md), we don't have to run `pip install -e '.[dev]'` unless we're contributing to website documentation. But `./tests.sh` won't run unless I instal

[2020-07-14 09:45] jbesomi commented on #3
Hey Tomer, wow, amazing job!

Texthero makes extensive use of spaCy under the hoods (see for instance the functions under `nlp`). By looking at the results and your suggestions, I agree with you spaCy is probably the best choice for our use case.

[2020-07-14 09:57] jbesomi commented on #82
Good point!

`parameterized` is used under `test_index`. Texthero's normal users should not need to have installed `parametrized`, and therefore it's okay to have it under `development`.

As you correctly pointed out, what's written in the CONTRIbuting.md is incorrect and we will need to update that and be more precise. Would you like to fix that?

Again, thanks! 👍

[2020-07-14 10:05] jbesomi commented on #81
Hey!

The problem arises there: `/bin/sh: 1: sphinx-build: not found`.

[sphinx-build](https://www.sphinx-doc.org/en/master/man/sphinx-build.html) it's executed from the command line and is used to create the documentation. In theory (correct me if I'm wrong), this should be installed automatically when sphinx is installed with pip (`pip install -U sphinx`).

For solving your issue:

1. Check from

[2020-07-14 10:30] vidyap-xgboost commented on #82
Hello, I would like to do that. But I'm not sure what exactly should be edited in CONTRIBUTING.md?

[2020-07-14 10:40] jbesomi commented on #82
Great, thank you!

There is a part that says something like:

We need to update it and explain that:

1. All contributors need to install also the development dependencies (i.e remove "(only required if you want to change the website doc)")
1. Explain that some of the dev-dependencies will be used by any contributor to being able to execute locally the test (probably we need to link to the "testin

[2020-07-14 10:49] jbesomi opened #84 "How to support multilingual"
Text preprocessing might be very language-dependent.

It would be great for Texthero to offer text preprocessing in all different languages.

There are probably two ways to support multilanguage:

[code]

[code]

We might have also cases where the dataset is composed of many languages. What would be the best solution in that case?

The first question we probably have to solve is: does different la

[2020-07-14 10:51] jbesomi commented on #68
Hey! Thank you for your exhaustive answer!

Adding Chinese support sounds super good to me!

Before starting with the details of the implementation, we need to figure out how Texthero should provide multi-language support. I opened a discussion-issue there #84.  What are your opinion on that? Imagine for instance we have a Pandas Series composed of 4 different languages ... what would be the elega

[2020-07-14 13:26] jbesomi commented on #43
Useful code:

[code]

[2020-07-14 16:22] jbesomi opened #85 "Next steps"
The following contains a high-level view of what will be the next main enhancement steps.
---

1. Fine Control
	1. Every representation function to receive as input “tokenized Series” #44
	2. Decouple TF-IDF L2-normalization and TF-IDF #76
	3. Rename `term_frequency` to `count()`, add function`term_frequency` #61
	4. Update all documentation (docstrings, README and getting-started)

2. Speedup + B

[2020-07-14 16:35] henrifroese commented on #44
I'm working on this with @mk2510

[2020-07-14 16:50] AlfredWGA commented on #84
For Asian languages (Chinese, Japanese...),  word segmentation is an essential step in preprocessing. We usually remove non-textual characters in corpus, making them looks like naturally written texts, and segment the text with NLP tools. Its difference to the current `texthero.preprocessing.clean` is that we need to keep punctuation and digits to make sure the correctness of word segmentation, th

[2020-07-14 17:12] jbesomi opened #86 "All function to deal with np.nan"
All functions should ideally deal with not-assigned values: cells with `np.nan` would simply not be considered.

We should add a file `test_nan` very similar to `test_index` that for (almost) each function, check that if `np.nan` values are present in `s`, the function does not throw an error, rather it just ignores such cells.

[2020-07-14 17:51] Jkasnese commented on #84
Just used Texthero for the first time yesterday. Pipeline for preprocessing seems fine, except for stopwords. A solution like @AlfredWGA mentioned would be very much appreciated inside hero. i.e. building and running a custom pipeline. In my case, I would only need to change the stopwords function

[2020-07-15 05:32] rajeshr6r opened #87 "flashtext integration"
Hello there ,

Super useful and Superquick . I thought of requesting the addition of flashtext package for it has some great use in extracting / replacing keywords that go a long way in pre-processing steps .

https://github.com/vi3k6i5/flashtext

[2020-07-15 07:56] jbesomi commented on #87
Hi @rajeshr6r, thank you for opening an issue.

can you tell us a bit more about how you expect to integrate `flashtext` into Texthero and how would you use the new functions?

Also, would you be interested in helping out integrating these features?

regards,

[2020-07-15 08:10] jbesomi commented on #84
Hey @Jkasnese , if you read there in the [getting-started](https://texthero.org/docs/getting-started), you will see that you can define your own custom pipeline:

[code]

Is that what you were looking for?

[2020-07-15 08:12] jbesomi commented on #84
Great!

[2020-07-15 08:15] jbesomi commented on #68
Hey @AlfredWGA! Great, thank you!

Is that _word_segmentation_ the same as `tokenize()`? Would you like to work on that? For simplicity, I would suggest that we start implementing this in a separate file (like `preprocessing_zh.py`) and only after we will focus on the `config` part; to reduce merge conflicts and keep the code simple.

Looking forward to seeing what you come up with!
Regards,

[2020-07-15 09:00] jbesomi commented on #30
Implemented in #58

[2020-07-15 09:00] #30 closed

[2020-07-15 10:56] vidyap-xgboost opened #93 "The word "visualize" is misleading for hero.top_words"
From the documentation, "visualization" would mean listing the top_words as a Pandas Series grouped by `topics`, as shown in this example:

![Screenshot from 2020-07-15 16-21-28](https://user-images.githubusercontent.com/65642130/87536998-92a7b280-c6b7-11ea-8df8-a5a6fc0594a4.png)

So, if I have a dataset **without any topics**, then I would just get a list of top_words which is **not** a "visualiz

[2020-07-15 11:03] henrifroese commented on #76
Working on this with @mk2510 :goat:

[2020-07-15 11:08] #82 closed

[2020-07-15 11:16] jbesomi commented on #93
Hey @vidyap-xgboost, my apologies but I'm not sure of having understood your point and what are your suggestions. Can you please reformulate it a bit and explain how would you "I would suggest that a bar plot be returned which takes the top_words as input."

For you to know the `visualization.py` module is the one that convinces me the less. It's very opinionated and not extremely useful; for inst

[2020-07-15 11:18] #44 closed

[2020-07-15 11:35] vidyap-xgboost commented on #93
What I meant by a `bar plot` is that, other functions in `visualization.py` has a `scatter plot` and a `word cloud` for visualization, but `top_words` is a bit odd because it returns only a Pandas series instead of a bar plot as 'visualization'. So my suggestion was, why not go ahead and add a bar plot for these top_words? Or was the function originally supposed to return only the series?

And yes

[2020-07-15 11:46] vidyap-xgboost commented on #81
Yes, it was a problem with my $path and once I fixed it, `./check.sh` !

Thank you!

[2020-07-15 11:46] #81 closed

[2020-07-15 12:01] jbesomi commented on #81
Great you solved! :)

[2020-07-15 12:42] rajeshr6r commented on #87
Hello Jonathon,

Thanks for your email .

flashtext is a python library that I used extensively in some of my
projects to deal with identifying key-words . Essentially flashtext serves
as a blazing fast alternative for regex .

My idea and expectation is that a user should be able to quickly get the
following from the data that are trying to analyze .

*1. Check the existence of keywords present i

[2020-07-15 12:48] rajeshr6r commented on #87
Hello Jonathan,

Meanwhile I also wrote a basic introduction to texthero on Medium . Thought
of sharing it with you .

https://medium.com/dev-genius/texthero-an-un-official-introduction-and-assessment-f7fd0b8c290e

Thanks,

*Rajesh R *

*India : + 91 9819-937-639 *
*rajesh.r6r@gmail.com* <rajesh.r6r@gmail.com>

On Wed, Jul 15, 2020 at 6:12 PM Rajesh Rajamani <rajesh.r6r@gmail.com>
wrote:

[2020-07-15 13:21] jbesomi commented on #87
Hey Rajesh,

thank you for your message! For you to know, I haven't sent you an email, rather answered the [Github issue](https://github.com/jbesomi/texthero/issues/87) you opened recently.

Congrats for the Medium article 👌

Thank you for mentioning and showing us FlashText. The FlashText core-algorithm is very fascinating and extremely useful; I'm sure we will be able to exploit it on some Texth

[2020-07-15 13:36] jbesomi commented on #93
I see! Something useful to keep in mind is that Pandas is super powerful and it already allows for this kind of visualization. For instance, given a corpus, if we want to look at the 10 most common words as a bar plot, we can simply do:

[code]

That's it! Awesome, isn't?

The point again is probably that we need to explain to users some useful tricks on how to deal with text-dataset with Pandas..

[2020-07-15 13:47] rajeshr6r commented on #87
Hi Jonathan,

Apologies . Just realized it . Sure . Will read the documentation and would
love to improve the documentation part .

Thanks ,

*Rajesh R *

*India : + 91 9819-937-639 *
*rajesh.r6r@gmail.com* <rajesh.r6r@gmail.com>

On Wed, Jul 15, 2020 at 6:52 PM Jonathan Besomi <notifications@github.com>
wrote:

[2020-07-15 13:58] jbesomi opened #94 "Documentation Next steps: checklist"
This document attempt at giving an order of importance of tasks related to improving the documentation of the website.

- [ ] Add the "Edit on Github" button in every Texthero web-page
- [ ]

---
This document is a WIP

[2020-07-15 14:05] jbesomi opened #95 "Add Coverage.py"
Study [Coverage.py](https://coverage.readthedocs.io/en/coverage-5.2/) and implement it. The goal is to unit-test every single hero function (and all arguments!).

[2020-07-15 14:16] jbesomi commented on #95
Added in commit cd9a3de

[2020-07-15 14:16] #95 closed

[2020-07-15 14:49] vidyap-xgboost commented on #93
@jbesomi I'd be more than happy to contribute to the documentation of TextHero in every aspect and making it easier for others to use and understand this awesome library!

It will be really helpful if you give me some basic pointers as to what a 'documentation maintainer' should be doing and any guidelines they should be following while peer-reviewing PRs.

I can start working on a blog post if yo

[2020-07-15 14:57] cedricconol commented on #6
@jbesomi can you show the steps to recreate this bug? `texthero.visualization.scatterplot` with boolean values as color seem to be working fine for me.

[2020-07-15 15:10] jbesomi commented on #6
Hey @cedricconol, thank you for pointing this out! Until recently, we were using `plotly_express` instead of `plotly.express`. `plotly_express` wasn't updated since more than one year and had this kind of bugs. So, just by moving to `plotly.express` we solved this issue. I will close it now then; thank you again!

P.s if you are interested in helping out with the `visualization.py` module, these t

[2020-07-15 15:10] #6 closed

[2020-07-15 15:39] jbesomi commented on #93
Great then! I'm glad to receive your help!

Unfortunately, I don't have a complete response yet. Some thoughts:

1. The general idea would be to enhance the documentation in any way. Imagine you are completely new to Texthero and you open the website [https://texthero.org](https://texthero.org). Quickly, you want to understand what is Texthero about (homepage goal) and then you move under "getting

[2020-07-15 15:40] AlfredWGA commented on #68
@jbesomi I'm also confused about the difference. [Here](https://nlp.stanford.edu/IR-book/html/htmledition/tokenization-1.html) says that word segmentation is a prior process of tokenization, but in practice we think they're almost equivalent.

`preprocessing_zh.py` sounds good, would you like to have all functions in `preprocessing.py` with a Chinese version, or just some specific functions? As so

[2020-07-15 15:43] jbesomi commented on #43
Useful code for testing the functions:

[code]

[2020-07-15 15:56] henrifroese commented on #76
Should the new tfidf function already return such a Representation Series?

Working on it, we currently implemented it so that it calculates the Representation Series correctly (using some of your code from #43 ) and then use a function ```representation_series_to_flat_series``` to make the output the same as tfidf currently produces. Thus, when #43 will be fully implemented later on, in tfidf onl

[2020-07-15 16:37] jbesomi commented on #68
Hey @AlfredWGA!

For simplicity and to keep the same pipeline as the other languages, I would say to consider word segmentation as simply tokenization.

Regarding your question, probably it make sense to just focus on the specific functions we need for the Chinese language.

**Some general remarks**:

In principle, we prefer to install as few external packages as possible. Using `jieba` for text t

[2020-07-15 16:47] jbesomi commented on #76
`representation_series_to_flat_series`: that's sounds great! (this function will be super useful anyway for users to move from the two representation). By the way, we might want to figure out two different `XSeries` names to differentiate between the two representations. (Also, for instance, `pca` will still return a Pandas Series where each cell is a list, right?)

What's your opinion? We might a

[2020-07-15 19:10] vidyap-xgboost commented on #93
@jbesomi Thank you for explaining everything!

2. I can start looking for some datasets that could explain preprocessing in a better way rather than using BBCSport. I will update in #94 once I find something and we can exchange our thoughts on it.
3. I had a glance at the links you provided and I would like to get familiar with these since I'm a noob and need some time to understand them. I prefer

[2020-07-15 19:38] #77 closed

[2020-07-15 19:44] vidyap-xgboost commented on #78
[UPDATE]

As for now, if anyone wants to not introduce any blur to their images, please have the size of `width` and `height` equal.

Go through #96 for further clarification.

[2020-07-15 21:21] henrifroese commented on #76
We just opened a PR at #97 .

Yes, that is very important to discuss, and probably should be handled later on in #85 2.

I think it makes sense to still return a "old" output at the moment, so that's what we did currently. It probably makes sense to overhaul all the representation functions at the same time in #85  2. As the new tfidf already calculates with the representation series and just give

[2020-07-15 22:27] cedricconol commented on #6
Yes, I'm interested in helping! I'll take a look at those issues. Thanks @jbesomi!

[2020-07-16 04:07] AlfredWGA commented on #68
Hi @jbesomi.
You are correct. I read about [this issue](https://github.com/explosion/spaCy/issues/4695), seems `zh_core_web_sm` do includes a word segmenter, which is trained by OntoNotes dataset with gold segmentation.

Also, as I mentioned above spaCy has provided another API for user to directly call jieba and pkuseg ([https://spacy.io/usage/models#chinese](https://spacy.io/usage/models#chinese

[2020-07-16 05:32] vidyap-xgboost commented on #73
[UPDATE]

I tried setting `max_features=300` and it worked for 80k+ tweets!

This is a workaround for now.

[2020-07-16 05:57] vidyap-xgboost opened #98 "Doesn't it make more sense to have a colorscale option enabled for the scatterplot?"
According to [Plotly's documentation](https://plotly.com/python/colorscales/), the `colorscale` for any plot is automatically assigned depending on whether the given data is numeric or categorical. In hero.scatterplot() function, the argument `color` is given as `kmeans` and `hover_data` is usually given as `clean_text` to make the user understand which data point belongs to which text.

I feel it

[2020-07-16 10:35] Jkasnese commented on #84
Yes, I think so! Thanks! I'll check later how to pass arguments to the remove_stopwords function. It would be nice if it was possible to do something like:

[code]

But I'm guessing its with kargs** right? I don't know, I'm a newbie hahaha gonna check this later. Thanks again!

[2020-07-16 10:37] jbesomi commented on #98
Hey @vidyap-xgboost, good you are pointing this out, 100% agree and was on the "todo" list.

Solved in a93cc06: "clustering" functions now returns a "category" Pandas Series.

Other comments:

1. Adding the `colorscale` argument might not be strictly necessary. The idea is to keep this function very simple; otherwise the users can write its own function directly using Plotly (that's just an opinio

[2020-07-16 10:49] vidyap-xgboost commented on #98
I am glad you worked on returning a `category`. I see that it was recently merged and haven't kept track of that PR these past few days, sorry for that. I will test it once I get time on my hands. Thanks for keeping me up to date.

I totally agree with the 2 points you mentioned about `colorscale` argument, makes a lot of sense. 👍

I better create 2 separate issues for docstring for all the 3 "clu

[2020-07-16 11:06] jbesomi commented on #84
You can solve it like this:

[code]

All items in the `pipeline` must be callable (i.e functions).

I agree that this is not trivial. We will make sure that this will be well explained both in the docstring of the `clean` function as well as in the (soon to arrive) `Getting started: preprocessing` part. By the way, @Jkasnese, would you be interested in explaining that in the `clean` docstring (you

[2020-07-16 11:16] jbesomi commented on #98
Will look into it more deeply later, as far as I know, you should be able to add this for issues you created if you are a contributor (and you are!), isn't? (can you see the settings icon?)

<img width="323" alt="Screenshot 2020-07-16 at 13 14 18" src="https://user-images.githubusercontent.com/43236409/87664887-51221080-c766-11ea-91c9-d2fe5e093ac2.png">

Perfect!

No problem at all! Also, I just a

[2020-07-16 11:28] vidyap-xgboost commented on #98
Yes, I have `contributor` badge but no permission to add or change labels and no settings icon is visible.
<img width="377" alt="Annotation 2020-07-16 165558" src="https://user-images.githubusercontent.com/65642130/87665986-75d9b080-c785-11ea-9e0a-1039c627b5aa.png">

[2020-07-16 11:35] vidyap-xgboost opened #99 "Improve docstring for all the 3 "clustering" functions"
An improved docstring for all the 3 "clustering" functions is preferred keeping the recently merged PRs like [a93cc06](https://github.com/jbesomi/texthero/commit/a93cc067e3aa6b80621d828fe7a13a5712cb8160) in mind.

[2020-07-16 11:39] vidyap-xgboost opened #100 "Improvement in scatterplot's docstring."
In relation to the issue #98

Explaining about the `color` argument for `numerical` and `categorical` data types in the `scatterplot` docstring

[2020-07-16 12:36] Jkasnese commented on #84
I'd like that! Can't make guarantees though, since I'm already involved in many projects ): I'll try to do it until Saturday.

I still have some questions, which might be good since I can address them on the docstring. Should I create a new issue (since its a bit off this issue) or message you privately?

[2020-07-16 18:00] jbesomi commented on #68
Thank you for your exhaustive replay @AlfredWGA!

For you to know, right now `hero.tokenize()` is regex-based, this as some flaws and I was seriously considering to replace it with the code I posted before (the one of`hero.tokenize_with_spacy()`).

I'm okay in letting the user select which segmenter to use.

[code]

where `tokenizer` valid arguments are:
1. "spacy"
2. "jieba"
3. "pkuseg" (in futur

[2020-07-16 18:01] jbesomi commented on #84
Both solutions work; either open an issue or send me an email: jonathanbesomi__AT__gmail.com

[2020-07-16 18:02] jbesomi commented on #78
@vidyap-xgboost, we probably should add this information in the docstring of the`hero.wordcloud` function too

[2020-07-16 18:39] mk2510 commented on #86
i will start working on this issue together with @henrifroese

[2020-07-17 03:53] vidyap-xgboost opened #102 "Update docstring for hero.wordcloud"
After the discussion on #78

We should add something like:

"To reduce blur in the images, width and height should have the same size, i.e the image should be squared"

[2020-07-17 04:01] AlfredWGA commented on #68
Hi, @jbesomi. You've made a good point.

The Chinese model of spaCy was originally released from [howl-anderson/Chinese_models_for_SpaCy](https://github.com/howl-anderson/Chinese_models_for_SpaCy), however there hasn't been any info about its performance compared to other tools.

jieba is stable and has lots of users (over 23.6k stars), I would suggest that we take jieba API from spaCy for starter

[2020-07-17 08:43] cedricconol commented on #84
@jbesomi i think it is also good to add a `language` parameter in `remove_stopwords`. I've used a solution similar to your suggestion above for Spanish and Indonesian languages. We can use the [stop-words](https://pypi.org/project/stop-words/) library to load stop words from different languages. What do you think?

[2020-07-17 09:31] #76 closed

[2020-07-17 10:12] jbesomi commented on #84
I perfectly agree with what you are proposing; i.e to **permit to remove stopwords from a specific language**. The only big question (and the main purpose of this discussion tab) is to understand how.

There are different alternatives:

1. Add a `language` parameter (as you were proposing)
1. Automatically detect the language (see #3) and remove the stopwords for such a language.
1. By default cre

[2020-07-17 10:29] jbesomi commented on #68
Hey @AlfredWGA, I gave a quick look to `jieba`; as you are saying it seems easy to use and already very embraced by the community. For me is a clear yes!

Your idea of setting the language through `config` sounds also good to me!

I'm looking forward to seeing your implementation. For any question do not hesitate to ask! 😃

[2020-07-17 10:57] AlfredWGA commented on #68
I found in [https://spacy.io/usage/models#chinese](https://spacy.io/usage/models#chinese) that spaCy's Chinese model is a custom `pkuseg` trained on OntoNotes 5.0. Sounds good but I'll still go with `jieba` first and see if we need to make multilingual codes consistent with spaCy `**_core_web_**` models.

[2020-07-17 23:43] cedricconol commented on #84
I think @AlfredWGA's solution of having a global setting is a better idea than adding `language` parameter for every function as i suggested and is also more feasible.

#3 is also very interesting and might be an even better idea as it automates the process. It aligns perfectly well to Texthero's purpose of being easy to use and understand.

[2020-07-18 00:06] Rickecr commented on #36
Hi, is this issue open for new contributions or it is already being resolved?

[2020-07-18 05:23] cedricconol commented on #102
Hi @jbesomi @vidyap-xgboost, i'll take this issue.

I also like to add an example in the docstring, but i am not sure how to do this with visualizations. Do you have a suggestion how to do this?

[2020-07-18 05:34] jbesomi commented on #36
Hi @Rickecr and welcome to Texthero!

Some days ago @samirghouri started working on this issue (see PR #57) but he left the work unfinished.

As we haven't heard from him since 8 days, I would say you can take over this issue.

I encourage you to first read [CONTRIBUTING.md](https://github.com/jbesomi/texthero/blob/master/CONTRIBUTING.md) and [PURPOSE.md](https://github.com/jbesomi/texthero/blob/m

[2020-07-18 05:39] jbesomi commented on #102
Thank you Sir: assigned!

We cannot really add a visual example in the docstring, but it's cool you asked.

A very interesting solution that soon or later we might want to implement is to create some visual example with [sphinx-gallery](https://sphinx-gallery.github.io/stable/index.html). Have a look at the documentation of Sphinx-gallery and see if it make sense. For instance, scikit-learn exampl

[2020-07-18 06:23] ishanarora04 commented on #65
Okay, I am onto this.

[2020-07-18 09:53] cedricconol commented on #102
Based on the discussion in #78, it seems like width and height does not have to be the same so long as both of them are at least 400. The first example in #78 has the same width and height (200, 200) but it is still blurry.

I think we should rephrase it to:
"To reduce blur in the images, `width` and `height` should be at least 400."

What do you think @vidyap-xgboost @jbesomi? :smiley:

[2020-07-18 09:56] cedricconol commented on #102
Yup I'm interested in implementing it through sphinx-gallery, I want to help :smile:

[2020-07-18 10:44] vidyap-xgboost commented on #102
I was going to point this out and a little late here, thanks for bringing it up and I agree to your point! But can you also make sure to test for `width=500` and `height=400` and see if any blur is being introduced? Thank you!

[2020-07-18 10:48] vidyap-xgboost commented on #102
@jbesomi @cedricconol According to the `numpy docstring guide` as suggested in `CONTRIBUTING.md`:

But `wordcloud` seems to have more than 75 characters in its docstring(and yes, its really difficult to read in VS code), can you please take care of that @cedricconol ? I thought I would do it myself but I do not want to interfere with your PR :smiley: , hence asking you.

[2020-07-19 01:50] cedricconol commented on #102
Hi @vidyap-xgboost, I tested `width=500`, `height=400` and `width=1000`, `height=800` following your code in #96. It seems like the blur is gone :smile:

[code]

Here are the results:
`width=500`, `height=400`
![500400](https://user-images.githubusercontent.com/52105365/87865202-004c2b00-c9a5-11ea-8c31-91bf76521933.png)

`width=1000`, `height=800`
![1000800](https://user-images.githubusercontent.c

[2020-07-19 02:13] cedricconol commented on #102
Thanks for the suggestion @vidyap-xgboost, this is noted, it seems like black does not format the docstrings.

[2020-07-19 05:35] vidyap-xgboost commented on #102
Great work @cedricconol !
Yes, the docstrings are not formatted by black. Any solution here @jbesomi ?

[2020-07-19 15:41] avinashbhat commented on #40
@jbesomi I see this issue being referenced multiple times so I'm guessing this is one of the priority items. Can I help with this or is this taken up by someone already?
I am a beginner on Sphinx, but with some pointers, I can probably work on this item.

[2020-07-19 17:41] mk2510 commented on #43
Hi Jonny, we will take care about this issue now. 😃

[2020-07-19 18:48] jbesomi commented on #102
Hey @vidyap-xgboost @cedricconol! You are doing great, thank you!

Apparently black does not format docstring. I guess we will need to do it ourselves (@vidyap-xgboost we might explain this better in the CONTRIBUTING.md, what do you think?). If you want to know more: [Black should have an opinion about doc strings](https://github.com/psf/black/issues/144) (still open issue)

[2020-07-19 21:52] vidyap-xgboost commented on #102
I agree. Explaining in CONTRIBUTING.md sounds good. Thanks for sharing the link!
I would like to work on further changes in documentation and tutorials after the next release since @henrifroese is already working on the documentation. I wouldn't want to interfere and duplicate the work.

[2020-07-19 23:24] bidetaggle commented on #56
Hi @jbesomi , I plan to contribute time to time when I feel like, for the pleasure of practicing/learning English and discover an open source project on github at the same time. I mainly want to focus on translation.

I can translate the actual website in French, I see that you already have `/pages/en`.
I can `cp -r pages/en pages/fr` then translate what will be prompted and send you a pull reques

[2020-07-20 11:34] jbesomi opened #109 "tokenize split words with underscores"
`hero.tokenize` split words with underscore:

example:

[code]

[2020-07-20 11:35] jbesomi commented on #109
Fixed in #448d40f

[2020-07-20 11:35] #109 closed

[2020-07-20 20:18] henrifroese opened #110 "CI Pipeline: Vercel Deployment 404 Error"
In PRs, in the CI Pipeline, the Vercel Deployment is marked green :heavy_check_mark: , but when clicking on "Details", we get a 404 error on the website.

![Screenshot from 2020-07-20 22-19-46](https://user-images.githubusercontent.com/50276689/87982645-6769fc80-cad7-11ea-8a4c-c36692187519.png)

[2020-07-20 20:20] jbesomi commented on #110
Can you please post the hyperlinks of the PR and the "Details"? Sorry but I'm not understanding

[2020-07-20 20:23] henrifroese commented on #110
Just updated the issue with an image above, thought it might be confusing :nail_care:

This is the link it points to: https://vercel.com/jbesomi/texthero/3095yv9ig

[2020-07-21 04:13] rzsgrt opened #111 "Add remove emoji"
Hi, do you think its great to have remove emoticon in preprocessing? Its on top of [this one](https://github.com/carpedm20/emoji).  Would help on it.

[2020-07-21 08:02] AlfredWGA commented on #84
I found a problem of using global setting language. Some of functions cannot be applied to Asian languages, e.g. `remove_diacritics`, `stem`. Also, `remove_punctuation` is integrated into `remove_stopwords` after `tokenization`. When the user select a certain language to process, I think we shouldn't expose APIs that they cannot use which might lead to confusion. Any idea how to solve this?

[2020-07-21 11:06] jbesomi commented on #84
Hey @AlfredWGA !

Apologize, what do you mean by "integrated"? (Also, remove_punctuation is _integrated_ into remove_stopwords after tokenization)

I agree.

To probably understand better the problem, we should create a document (by opening a new issue or using Google doc or similar) and for different languages make a list of necessary functions. Presumably, except for some functions in `preproces

[2020-07-21 12:39] AlfredWGA commented on #84
Sorry for the confusion. The default pipeline for preprocessing Chinese text should look like this,
[code]
Punctuations and stopwords should be removed after tokenization (as they might affect the word segmentation results). We can put punctuations into the list of stopwords and remove them together using `remove_stopwords`, therefore a series of `remove_**` might be unnecessary.

In this case, if

[2020-07-21 13:05] cedricconol commented on #38
Hey @jbesomi, should we include all methods in the default `clean` pipeline to the example?

[2020-07-21 14:35] jbesomi commented on #38
Hey Cedric, what do you mean with that? The idea here is to explain how to generate a custom pipeline ...

[2020-07-21 17:36] aelnoshokaty commented on #28
Very insightful Selim, Deep learning models could be a challenge for large datasets though, so a compromise could be made to the model complexity for applicability for big data.

[2020-07-21 23:48] cedricconol commented on #38
@jbesomi, sorry it wasn't clear. I'm talking about how to explain generating a custom pipeline in `clean`'s docstring.

^^This example that you gave shows how to customize pipeline by passing a custom set of stop words to `remove_stopwords`. I'm wondering if you want to add more examples in the docstring which involves other methods in the default `clean` pipeline.
For example:
[code]

Actually, I

[2020-07-22 08:03] jbesomi commented on #110
I'm closing this as this should be over.

[2020-07-22 08:03] #110 closed

[2020-07-22 08:09] jbesomi commented on #111
Hey @rezasugiarto, thank you for opening an issue! 🎉

It sounds like a good idea. Can you please provide us with an example with a sample code? We will need to make sure the solution is fast enough and correct.

If you haven't done yet, please read [CONTRIBUTING.md](https://github.com/jbesomi/texthero/blob/master/CONTRIBUTING.md).

Also, you might find this python toolkit useful: [python-ftfy](htt

[2020-07-22 08:10] #61 closed

[2020-07-23 09:40] #102 closed

[2020-07-23 14:47] rajeshr6r commented on #87
Hello Jonathan,

Unfortunately I couldn't figure out how to start with the documentation .

By Documentation should I go about writing documentation for the
various functions or should I write tutorial type scripts .

Is there a sample that I can look at and take guidance on?

*Rajesh R*

*India : + 91 9819-937-639 *
*rajesh.r6r@gmail.com* <rajesh.r6r@gmail.com>

On Wed, Jul 15, 2020 at 6:52 PM Jo

[2020-07-23 22:18] leotok opened #120 "Avoid downloading spaCy models when only using the preprocessing module"
Hi,

I want to use Texthero to preprocess text on my API, but every time a new instance of the API is started, it has to download  `en-core-web-sm` from spaCy even though I'm only using the preprocessing module.

Is there a way to avoid this download?

Thanks!

Ex:

[code]
Running the API:
[code]

[2020-07-24 09:36] jbesomi commented on #84
Hey @AlfredWGA, sorry for the late reply.

I agree that a series of `remove_*` might be unnecessary. On the other hand, someone might just need to apply `remove_punctuation` for some reasons and in that case such function might be handy.

Regarding the `tokenize`, what you say is super interesting. For you to know, in the next version, all `representation` functions will require as input a `TokenS

[2020-07-24 10:23] jbesomi commented on #38
The second code you showed is basically the once from `get_default_pipeline`. The discussion here was more intended to show how to create a custom pipeline with functions that might require other arguments as input ...

[2020-07-24 10:33] jbesomi commented on #87
Hey @rajeshr6r, thank you for reaching out!

Q: do you want to start by writing a how-to tutorial or by improving the docstring?

In the first case, you will have to come up with an article blog and add it under `website/blog`, in the second case, you will need to improve the docstrings from any of `texthero` function files.

As soon as I will have more information regarding your goals, I will be

[2020-07-24 10:39] jbesomi commented on #40
Hey @avinashbhat, sorry for my late reply.

Absolutely, this is quite first priority. And no, nobody already took it. Do you want to start and see how it goes? Is the task clear?

[2020-07-24 10:42] jbesomi commented on #56
Hey @bidetaggle, this seems all good!

For translating, I think we need to use [Sphinx Internationalization](https://www.sphinx-doc.org/en/master/usage/advanced/intl.html). The first task is therefore to extract all the docstring text we need to translate ... not sure yet what's the best way to do that. Do you want to make some researches regarding this? :)

[2020-07-24 10:50] jbesomi commented on #120
Hi @leotok, thank you for reaching out!

Which `preprocessing` functions do you need?

I'm not sure it will be possible to find a solution. Probably, very soon we will improve the `tokenization` algorithm and instead of simply using a regex, we will use `spaCy`, that means that even for the `preprocessing` module, it might be necessary to download the `en_core_web_sm `.

"Every time a new API inst

[2020-07-24 11:21] rajeshr6r commented on #87
Jonathan,

Thanks so much for the guidance .

I'll start with the how-to tutorials and follow through on the docstring
later .

As a side step , will work on the flash-text integration.

Thanks,

*Rajesh R *

*India : + 91 9819-937-639 *
*rajesh.r6r@gmail.com* <rajesh.r6r@gmail.com>

On Fri, Jul 24, 2020 at 4:04 PM Jonathan Besomi <notifications@github.com>
wrote:

[2020-07-24 11:39] jbesomi commented on #87
That's a sounding plan.

For the how-to tutorials, do you already have an idea on the subject?

Regards,

Il giorno ven 24 lug 2020 alle ore 13:21 Rajesh Rajamani <
notifications@github.com> ha scritto:

--
Jonathan Besomi - jonathan.besomi@gmail.com

[2020-07-24 13:09] AlfredWGA commented on #84
From my perspective, yes, except for some strings that won't interfere word segmentation (urls, html tags, `\n` and `\t`, etc.).

`TokenSeries` and a `tokens` module is a great idea. If we implement that , the `clean` for Asian languages can be like this,
[code]
Then the cleaning process among Western and Asian seems unified. What do you think?

[2020-07-24 13:51] AlfredWGA commented on #120
`hero.preprocessing` has `from texthero import stopwords as _stopwords`, which will try to import stopwords from spaCy.

[2020-07-24 13:51] cedricconol commented on #38
I see, that is much clearer now. Can you give me some pointers on what should be added to the docstring? Is adding the code below in Examples enough?

[2020-07-24 14:56] jbesomi commented on #84
Sounds good!

We might call the `tokens` module `collections` or something similar:

[code]

Yes, `TokenSeries` seems a promising idea. @henrifroese is working on it. If you are interested have a look at #60.

@AlfredWGA How do you suggest we proceed, in relation on how you plan to contribute.

[2020-07-24 15:06] AlfredWGA commented on #84
I'll start implementing `texthero.lang.hero_cn` to make all functions support Chinese. If #60 is completed I'll refactor the code to accommodate this feature. Is that OK?

[2020-07-25 00:57] leotok commented on #120
Hi @jbesomi, thanks for the quick response!

Currently, I'm only using these functions that I believe shouldn't require any outside resources:
[code]

I found a way to overcome this issue by adding all packages downloads on my `dockerfile`, preventing the API from downloading them "on-demand".

[code]

The texthero package was already installed in the docker image, but the spacy and nltk packages

[2020-07-26 12:46] s18392130805 opened #122 "import texthero error"
[nltk_data] Error loading stopwords: <urlopen error [Errno 11004]
[nltk_data]     getaddrinfo failed>
⚠ Skipping model package dependencies and setting `--no-deps`. You don't seem to
have the spaCy package itself installed (maybe because you've built from
source?), so installing the model dependencies would cause spaCy to be
downloaded, which probably isn't what you want. If the model package has

[2020-07-26 17:42] mk2510 commented on #122
Hi,

as far, as I can read from your error message you are missing the spacy package in your python. If you install spacy in your anaconda you will probably resolve this issue.
Just let me know if it works for you?

[2020-07-27 01:32] s18392130805 commented on #122
Thank you very much for your reply. I have installed the spacy package in my anaconda and the version is 2.3.2, but there still has the issue.

[2020-07-27 01:33] s18392130805 commented on #122
Thank you very much for your reply. I have installed the spacy package in my anaconda and the version is 2.3.2, but there still has the issue.

[2020-07-27 03:48] s18392130805 commented on #122
I fixed the issue by downloading the en_core_web_sm manually!

[2020-07-27 08:53] mk2510 commented on #122
I found [this](https://github.com/explosion/spaCy/issues/3226) issue on the web when you are using anaconda as an environment. If I understood it right, the problem is, that spacy will normally install it outside the anaconda env to the standard python distribution. Then you have to force anaconda to install it inside

[2020-07-27 13:21] jbesomi commented on #122
@mk2510, in future, we might consider having a "Troubleshooting" or a "FAQ" page on the website that addresses and explain these kinds of issues.

[2020-07-27 13:24] jbesomi commented on #122
I'm closing this as it has been solved.

**If it happens to you to have the same issue:**

[code]

This will install `en_core_web_sm`

[2020-07-27 13:24] #122 closed

[2020-07-27 15:30] jbesomi commented on #84
OK!

[2020-07-27 21:10] #10 closed

[2020-07-28 14:50] rajeshr6r commented on #87
Hi,

Thought of sharing an update here . I have completed an initial function using flashtext that does the following .

Input : text column ( pd.series ) , keyword_dictionary ( dict )
Output : text column ( pd.series ) containing the keywords extracted from the text .

Example Dictionary :

#Normalising different words into a single word , thereby providing summarization

keywords_cleaner={"Athel

[2020-07-29 09:30] cedricconol opened #129 "add fix_encoding to preprocessing"
I think it would be nice to have a `fix_encoding` function in preprocessing to fix bad encoding in input text. We can build this using [ftfy](https://github.com/LuminosoInsight/python-ftfy).

Examples from ftfy's readme:

[code]

[2020-07-30 15:17] henrifroese commented on #129
This is certainly useful, I'm just not sure how common these errors are? I assume we would not put it into the standard `clean` pipeline as the problem is probably not very common and running it introduces significant overhead.

Then the only case this would be used is if a user notices he has this encoding error in his Series. Would he then not just google the problem, land on StackOverflow, impo

[2020-07-30 16:09] jbesomi opened #131 "tokenize with Spacy"
The actual tokenizer is very fast as it uses a simple regex pattern but at the same time very imprecise.

A better alternative might be to make use of `spaCy`.

Naively tokenize a Pandas Series with spaCy is very simple:

[code]

This should be somehow fast as in theory `spaCy` makes use of multi-threading.

The reason we haven't implemented this yet is that we want to make sure this solution is e

[2020-07-30 23:00] polvoazul commented on #111
I have code that does this! It is not very fast, but it works. I also have code that tokenizes emails and telephone numbers. Would you be intested in a PR to include these?

[2020-07-31 07:24] rezasugiarto commented on #111
Hi, sorry I haven't done it yet. maybe we can collaborate on it @polvoazul

[2020-07-31 08:52] jbesomi commented on #111
Hey @polvoazul, thank you for your comment.

Can you give us further information regarding your code? Yes, they might be useful.

Regarding tokenizing emails and telephone numbers, for now we are simply using a regular expression but we were considering switch to spacy #131. What's and how does it works your solution?

[2020-07-31 14:43] jbesomi commented on #129
Agree with @henrifroese.

The way we would implement this is by simply calling `s.apply(fix_text)`. This can be done directly by the user.

@cedricconol if you believe this function might be useful for many, you can write a [blog article](https://texthero.org/blog/) about that subject. The idea would be to load a dataset, explain the problem, and show the code to fix the issue.

I'm closing this n

[2020-07-31 14:43] #129 closed

[2020-07-31 15:01] jbesomi commented on #120
Hey Leo,

You are making great observations, thank you for sharing!

I agree with you that sometimes is inefficient (and also annoying) that the lib download resources not strictly necessary. Both of your solutions seem interesting to me; if you want to investigate this further I will be happy to review them.

Some extra thoughts:

nltk:

We might want to get rid completely of `nltk`. Some users g

[2020-07-31 15:02] #100 closed

[2020-07-31 15:02] #99 closed

[2020-08-01 01:15] cedricconol commented on #129
Thanks for your feedbacks @henrifroese and @jbesomi.

[2020-08-04 17:03] henrifroese commented on #111
I believe the import / new dependency of the `emoji` package might be unnecessary. In your sample code, you use the RegEx from `emoji.get_emoji_regexp()`. Why not just locally look at and copy the RegEx once, and put it in the code, so we don't need to import it in the library? That should work

[2020-08-05 04:34] rezasugiarto commented on #111
Ohh, i think i missed it. It would be perfect i guess

[2020-08-05 16:20] jbesomi opened #137 "Unit-test/Travis CI: cleaner log"
The current Travis CI log isn't particularly beautiful, [example](https://travis-ci.com/github/jbesomi/texthero/jobs/368704825).

This task consists of cleaning the log output of travis CI by mainly improving the unit-tests files.

Also, sometimes the Travis CI does not fail even if some errors are raised, see example below at line 576 for instance (`raise IOError(Errors.E050.format(name=name))).

[2020-08-06 19:39] jbesomi opened #144 "Getting started: preprocessing"
Task: write the "Getting started: preprocessing" doc page

## Advice/Tips to the technical writer

Good to know:

 - This page appears after the "1. Getting started". The users reading this page has already a global overview of Texthero and is motivated to learn more.
 - As this is by order the second page of the documentation (i.e in theory the second page the users is reading), we want to teach

[2020-08-07 15:06] jbesomi opened #145 "All preprocessing functions to receive as input TokenSeries"
The aim of this issue is to discuss and understand when `tokenize` should happen in the pipeline.

The current solution is to apply `tokenize` once the text has already been cleaned, either with `clean` or with a custom pipeline. In general, in the cleaning phase, we also remove the punctuation symbols.

The problem with this approach is that, especially for non-Western languages (#18 and #128), t

[2020-08-07 16:55] mk2510 commented on #65
Hi Jonny,

we will now start with this issue and implement multi_processing, wherever it is useful. 🚀

[2020-08-07 16:59] jbesomi commented on #65
Hi Max,

I guess this task might take quite long time, what if we prioritize to completely finish part 2 of the "API next checklist" and then move on to part 4?

[2020-08-07 17:18] Iota87 commented on #145
To keep in mind: one of the advantages of the "clean" section of pre-processing is the possibility to clean in a uniform way small strings (e.g. Names, Addresses, etc.) in a dataset. This, although little when compared to the overall benefits of using the whole pipeline on big chunks of text, could be an interesting pre-step to string matching operations. They are very common in some research cont

[2020-08-07 18:36] henrifroese commented on #65
Will do :2nd_place_medal:  :neckbeard:

[2020-08-08 08:17] jbesomi commented on #145
Very interesting observation.

For the case you mentioned, we can `tokenize`, `clean` (probably with a custom pipeline and normalization) and then _join_ back the tokens. Do you see any drawbacks?

[code]

(out of the discussion) -> soon or later we will have to think about how to add a universal `hero.merge`/`hero.join` function to merge `DataFrame` with string-columns (Pandas merge works only on

[2020-08-12 14:21] Devilmoon commented on #42
I'm not sure if topic modeling has already been implemented in TextHero, however if it hasn't you might be interested in leveraging [Gensim](https://radimrehurek.com/gensim/index.html).
I've used it in the past as a novice in topic modeling and it's relatively simple to use. If I remember correctly there is also support for visualization of the results, which seems to be the core of this issue.

H

[2020-08-12 14:28] jbesomi commented on #42
Hey Luca,

No, topic modeling hasn't been implemented in Texthero (with the small h) yet. Gensim is an alternative but we might not need it either if we implement [LSA](https://en.wikipedia.org/wiki/Latent_semantic_analysis) as this the same as calling`pca` somehow, right?

And yes, the visualization and understanding of the models are for sure an important aspect but that's not the core of the is

[2020-08-12 16:14] jbesomi opened #151 "Can we avoid having a cell with a list?"
As we know, it's really not recommended to store a list in a `Pandas` cell. `TokenSeries` and `VectorSeries`, two of the core ideas of (current) Texthero are actually using it, can this process be avoided?

Need to discuss:
-  Alternatives using sub-columns (it's still MultiIndex). Understand how complex and flexible this solution is. 99% of the cases, the standard Pandas/Texthero user does not re

[2020-08-13 19:20] henrifroese commented on #151
As discussed, @mk2510 and I are fans of the sub-column approach. In short, instead of

[code]

which is really inefficient and hard to understand for users, we **put the Multiindex in the columns** and get this:

[code]

See [this colab notebook](https://colab.research.google.com/drive/1MdDGhuTUTAptZYuvBY2BoZI5xLMxaOtB?usp=sharing) for a short example and some more thoughts. (We don't really talk

[2020-08-14 14:44] henrifroese commented on #151
Here's another a little more detailed summary of the subcolumns approach:

New Hero VectorDF
=================

When calculating any kind of mathematical representation
of our documents (e.g. through `embed, tfidf, pca, ...`)
we need to store these in a Pandas DataFrame / Series.

Before the new VectorDF, we have done this by simply storing
lists in cells, e.g. like this:

[code]

This has two mai

[2020-08-14 14:53] jbesomi commented on #151
It looks great! 👍

We should just fully understand why the sub-column functionality as we see it does not work out of the box with the Pandas API.

Once understood which changes we should make in the Pandas code to make it compatible with our vision, we should ask ourselves if that's the right solution. We can also open a new issue on their [Github profile](https://github.com/pandas-dev/pandas/) a

[2020-08-14 15:32] jbesomi commented on #3
Hey Tomer,

Sorry for my late replay. Another simple alternative might be to use [Dask dataframe](https://docs.dask.org/en/latest/dataframe.html) and just `s.apply(langdetect)`. Would you like to test this option too and see how fast it is?

Also, can you please benchmark the importance of the length of a sentence, if for instance we limit the number of words to 100/200/300 (`s.str.split().str[:10

[2020-08-14 15:35] jbesomi commented on #131
**Dask vs. spaCy**

It's faster to use `pipe` from spaCy or to directly use `Dask` ([Dask Dataframe](https://docs.dask.org/en/latest/dataframe.html))?

`Dask` might be the solution we were looking for ...

[2020-08-14 15:51] henrifroese commented on #151
Yes, I'll explain some more and ask in the Pandas community. The gist of it is that we only need to make changes because users want to do this: `df["pca"] = hero.pca(df["texts"])` (sorry for the bad example, of course you can't apply `pca` straight to the texts, but I hope it's clear. See the next comment.

[2020-08-14 16:21] henrifroese commented on #151
## Pandas Trouble

Only issue we see: Integration with `df["pca"] = hero.pca(df["texts"])`

It's really important that users can seamlessly integrate texthero's function
output with their code. Let's assume a user has his documents in a DataFrame
`df["texts"]` that looks like this:

[code]

 Let's look at an example output that `hero.pca` could
return with the new type:

[code]

(you can generate

[2020-08-14 16:49] jbesomi commented on #151
Great!

This solves our initial problem, i.e _assign a Dataframe to a Series_ (basically that's it, the source of all our problems).

Ok, so this code will work just by updating \_\_setitem\_\_? That's great!

[code]

My question is: the two DataFrame at lines 1. and 3. will have different column-indexes (is there a better name), right? At line 1. (and 2. as well) the indexes will be flatten, wher

[2020-08-14 19:18] henrifroese commented on #151
It's not really magic :confused: :mage_man: , we do have to switch the DF to MultiIndex in the code. However, users won't notice this, they can still to `df["texts"]` and it will behave exactly like before.

Yes, we should explain. However as the "normal" columns like "texts" still behave like before this should be a fairly quick explanation with no "consequences" for the users.

See [HERE](https:

[2020-08-15 10:02] henrifroese commented on #151
First thoughts about the RepresentationSeries integration with the new VectorDF (we're just using that name for now, might think of a better one in the future).

Options:

1. Keep RepresentationSeries as output from `tfidf, count, term_frequency`. Will need RepresentationSeries-input-support for `dim. reduction, clustering` functions.
    :heavy_plus_sign: Easy, have the code, good solution
    :h

[2020-08-15 14:10] jbesomi commented on #151
Full fan of 3. The main question is: can we store a Sparse Pandas DataFrame into a mixed (sparse and not sparse) _MultiIndex_ DataFrame?

Look forward to seeing what you came up with!

[2020-08-16 09:53] tmankita commented on #3
Hi Jonathan,

Good to hear from you, according to the Dask.dataframe, in our current implementation we using pandas.Series as an input and not pandas.dataframe. Do you think DataFrame is better for our needs? how it speeds up the process?

[2020-08-16 11:38] henrifroese commented on #151
(Not so positive) update:

We have sadly now noticed this (so what we're doing not just with Sparse stuff but overall in this issue is maybe not a viable solution after all :confused:):

So our main issue is that we want to

- store a matrix in a DataFrame that looks nice, so not just one row per cell but rather one entry per cell (which we can achieve through the approach above with "Subcolumns")

[2020-08-16 15:44] henrifroese commented on #151
Another update:

We did not get much further. We will still:

- try around to maybe make our VectorDF solution more performant (although it seems unlikely this succeeds)
- benchmark our current implementation with lists against our new improved "VectorDF" solution -> then decide on which to use
- benchmark our current representationseries Vs the new sparse stuff in VectorDF -> then decide which to

[2020-08-16 16:31] rhshadrach commented on #151
Seems like something odd is going on. I tried to replicate your example above, but had to make modifications to get it to work:

[code]

I believe this is the form of the inputs you're going for, let me know if this is wrong.

Then doing the operation `df_x[df_y.columns] = df_y` on my machine takes 14 seconds and produces a single block as seen by running `df_x._data`:

[code]

[2020-08-16 16:59] mk2510 commented on #151
@rhshadrach thanks a lot for the post. We are sorry, but we didn't have linked our correced pandas method here. We overwrote the setter method to replace this action: `df_x[df_y.columns] = df_y ` :octocat:
Hower you just nailed our current problem we are having.

the action to insert the data takes a lot of time. We had a small look at the blockmanager, but it didn't seemed to be the problem, beca

[2020-08-16 17:56] jbesomi commented on #151
Thank you Henri, Max, and Richard for your great comments,

@mk2510 and @henrifroese, how do you explain your solution takes forever and produces more blocks whereas @rhshadrach  solution takes "only" 14 seconds on a single block? It might be related to the way you overwrite the setter method or I'm missing something?

[2020-08-16 18:29] henrifroese commented on #151
Hmm maybe we're overengineering a little 🐙 for us 14 seconds is forever. We will do many performance comparisons tomorrow, maybe we're actually _not worse_ (or even better) than the current solution, we'll see 🤞

[2020-08-16 18:33] jbesomi commented on #151
All right! Just one thing, what do you mean with "14 seconds is forever"?

For the sake of comparison, you might compare how long it takes to assign a (normal) Series with the same number of values as the matrix to a (normal) Pandas DF. It the size is veery big, it might be okay to wait for a sec

[2020-08-16 18:46] henrifroese commented on #151
Yess exactly, for us in some tests late today we got results showing that our new implementation takes several times as long as the current texthero implementation with lists in cells. We want to make sure we have solid reproducible comparisons so we'll spend more time with that.

We will compare

- Current implementation with lists
- new implementation from above
- "advanced" new implementation w

[2020-08-16 22:02] juliawabant commented on #42
@jbesomi For LSA or LDA I think Scikit Learn is a good option https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.TruncatedSVD.html, https://scikit-learn.org/0.16/modules/generated/sklearn.lda.LDA.html (because you already use it for vectorization, dimension reduction and clustering operations already).
I see it as a start, before integrating more advanced methods such as Corre

[2020-08-16 22:16] juliawabant commented on #28
@selimelawwa Are you thinking of summarizing a complete series, or rather creating for example a column and making a summary of each item ? I think the second option would correspond more to use cases but I could be wrong.

For extractive approach, Gensim approach which uses BM-25 as a variation for the similarity function is interesting and easy to use https://radimrehurek.com/gensim/summarizatio

[2020-08-18 15:32] henrifroese commented on #151
After some more discussions, we have come to the following conclusions:

**Conclusions**:

- Keep `VectorSeries` and `TokenSeries` as-is. Reason: inserting into existing DataFrames is too expensive for users
- Change `RepresentationSeries` output of `tfidf, count, term_frequency` to new sparse `VectorDF` that we will henceforth call `DocumentTermDF`. Reason: it looks nicer and is just as performan

[2020-08-18 15:32] #151 closed

[2020-08-18 18:53] Iota87 commented on #144
I am structuring this part as follows (based on review of similar contexts, including Texthero "Getting Started" structure):
** Overview/Intro**
_Why is pre-processing crucial and what are the benefits of having a standardized/customizable pipeline_
** Clean**
What it does and how
** Custom Pipeline**
_Why and how you should take control of the pre-processing steps_
** More details **
_Including p

[2020-08-19 13:09] jbesomi opened #153 "Ideas 💡💡🧞🧞"
Extra ideas we can introduce to improve the experience of Texthero's users:

1. Something similar to [SQL Murder Mystery](https://mystery.knightlab.com/) but with Text data.

[2020-08-19 16:36] jbesomi commented on #65
**Dask vs. spaCy**

It's faster to use `pipe` from spaCy or to directly use `Dask` ([Dask Dataframe](https://docs.dask.org/en/latest/dataframe.html))?

`Dask` might be the solution we were looking for ...

[2020-08-20 08:17] jbesomi commented on #42
Thank you Julia! Soon, @henrifroese and @mk2510 will work on this.
And I agree, it's good to start with LSA and LDA, see how it goes, and eventually introduce more advanced methods.

[2020-08-20 08:33] jbesomi commented on #3
Hi Tomer, you are right: we probably want to keep accept as input a `Series`. If Dask does not allow to work with Series, we can, under the hood, just transform the Series into a DF (with one single column), apply the `apply` Dask function on the Dataframe, and at the end transform it back to a Series. Going back and forth from Series to DF should not be too expensive I guess (but need to be teste

[2020-08-20 13:32] jbesomi opened #155 "Missing `fit` feature"
In any ML task, the assumption is that the test data are not available during training and just available in the prediction phase.

Assume someone wants to categorize reviews using `tfidf` + Naive Bayes. The required step would be the following ones:

1. Split train and test
1. Fit `tfidf` on the train part and generate (the transform part in scikit-learn) the `tfidf` values on the train part
1. T

[2020-08-22 18:47] mk2510 opened #159 "introducing flake8 to Texthero"
I was thinking, that we could improve our overall code quality by using some checker or style guide tools like [flake8](https://gitlab.com/pycqa/flake8). From my previous experiences, Uni and Work it was a huge benefit 🚀 :octocat:

[2020-08-24 16:30] #15 closed

[2020-08-24 16:32] henrifroese commented on #36
Implemented and merged in #106

[2020-08-24 16:32] #36 closed

[2020-08-24 16:35] henrifroese commented on #55
See #60  and related PRs

[2020-08-24 16:35] #55 closed

[2020-08-24 16:37] henrifroese commented on #60
See #138 #139 #69

[2020-08-24 16:37] #60 closed

[2020-08-25 14:34] henrifroese opened #164 "Add CategorySeries to Hero Types"

[2020-08-25 14:34] henrifroese commented on #164
Currently the Hero Series types (in `_types.py`) don't have a type for our clustering functions output. We should change that :running_man:

[2020-08-25 19:27] mk2510 commented on #131
As described in #162 , dask is not feasible from a UX perspective. Here are our results from experimenting with tokenize. See the attached PDF for a notebook of the results.

# Speed Comparison

We now compare:
1. current implementation without parallelization
2. current implementation with parallelization (see #162)
3. tokenize_with_spacy with spacy built-in parallelization through n_process
4. t

[2020-08-26 10:12] mk2510 opened #166 "Implement hero.describe(s)"
In pandas, there is a `s.describe()` function that provides some information / statistics about a series or dataframe. Example:
[code]

We can see that it's not all that useful for text data.

## TODO

Implement a function `hero.describe(s)` where `s` is a TextSeries (so a Series where every cell is a string, like `s` in the example above. Output might include

- number of documents (= count from

[2020-08-26 10:18] henrifroese commented on #166
Will start work on this now

[2020-08-26 10:19] mk2510 commented on #166
Great 🍻

[2020-08-28 09:41] henrifroese commented on #85
# Merge-Plan

1. #156 (representation series to multicolumn). Branched from Texthero Master
2. #157 (hero types in representation & DocumentTermDF in _types). Branched from #156
3. #117 (getting-started), #118 (README), #135 (getting-started hero-types). Branched from Texthero Master
4. #158 (add pandas __setitem__ support for DocumentTermDF). Branched from #156
5. **RELEASE NEW VERSION**
6. #146

[2020-08-29 12:30] henrifroese opened #171 "Doctests fail with new Black version."
As we could see in #169 and #170 , with the [new release of black](https://github.com/psf/black/releases) three days ago, many of our doctests fail. We opened an issue [here at Black's Github](https://github.com/psf/black/issues/1654). Currently, when we want to push something new to Texthero, Travis CI will fail. Current hotfix is to use the last version before the release by setting in `.travis.

[2020-08-31 15:09] mk2510 commented on #94
@jbesomi, as we now have implemented the API-checklist, we will now focus more on the documentation part. There we (@henrifroese and I) will start writing, the visualisation, representation, nlp tutorial and also a developer documentation :octocat:
We will link the pull request later on here. 🥇

[2020-08-31 16:20] bhishanpdl opened #172 "Add version attribute"
Usually python packages has attribute `.__version__` and `.__name__`.

I would suggest adding these two attributes to this package `TEXTHERO`.

For example:
[code]

[2020-08-31 16:48] henrifroese commented on #172
Makes sense. I believe `__name__` is already implemented automatically. Do you want to implement this @bhishanpdl ? You can read [here](https://github.com/jbesomi/texthero/blob/master/CONTRIBUTING.md) how to start contributing :fireworks:

[2020-08-31 16:58] jbesomi commented on #172
Agree with @bhishanpdl, it can be very useful. Actually, even if the task seems very trivial and simple, it's more subtle than that. In a previous version, I implemented this (before [this commit](https://github.com/jbesomi/texthero/commit/3f5d835bb83f91507079606f24e45cf4be9c9f37)) but this was given some problem (setup.cfg required texthero to be installed to install texthero?! 🙃).  A better solu

[2020-09-01 07:55] jbesomi commented on #94
Great; perfect!

[2020-09-03 06:21] henrifroese opened #173 "Add Lemmatization"
Lemmatization can be thought of as a more advanced `stemming` that we already have in the preprocessing module. You can read about it e.g. [here](https://en.m.wikipedia.org/wiki/Lemmatisation). Implementation should be done with spaCy.

# ToDo

Implement a function `hero.lemmatize(s: TokenSeries)` (or mayber rather TextSeries?).  Using spaCy this should be fairly straightforward. It should go into

[2020-09-03 08:31] adrianhosak commented on #173
Hi, I would like to work on this issue.

[2020-09-03 15:39] jbesomi commented on #173
That's great!

Regarding the function signature, not sure which one is better (maybe even accept both Series type might make sense?). But, it will depend on the implementation requirements. Probably with spaCy we will have to first tokenize the text and then take the lemma with `token.lemma_` or something similar ... so maybe we need to pass a `TextSeries`? (as we will need to pass the sentence in

[2020-09-04 21:32] adrianhosak commented on #173
Using the `token.lemma_` attribute, a straightforward implementation would be something like this:
[code]
which is very similar to other functions in the nlp.py folder. And the nlp does require a string as input and not a token so I think it makes sense to make it a TextSeries signature. I set batch_size to 32 here because thats how it is in all the other functions, but I don't know if and why tha

[2020-09-06 20:01] henrifroese commented on #173
I agree we probably do not want that. Have you found an alternative solution? :3rd_place_medal:

[2020-09-07 14:31] AlfredWGA opened #179 "Infer test cases from input HeroSeries in test_indexes"
Currently `test_indexes` save all test cases using hard encoding, by listing all functions and their valid inputs separately, where lots of functions share the same input. With HeroSeries objects as inputs I think it's easy infer a valid input for each of them.

For example, save a `allowed_hero_series_type` variable for each function,
[code]
Then generate test cases,
[code]
Will it make the code

[2020-09-08 01:52] AlfredWGA commented on #173
Maybe just replacing every `-PRON-` with `word.text`?

[2020-09-08 08:51] jbesomi commented on #179
Hey @AlfredWGA, I agree with you and it seems a good idea!

The only part that might be tricky is that for some functions we need to pass more than one parameter (see for instance `pca` in `test_indexes`).

By the way, we should also test that all functions work when the given Series input is empty and also when it contains `nan` values. I believe we can unify all these three tests ...

[2020-09-08 09:07] AlfredWGA commented on #179
That can be done by manually adding test cases like
[code]
And adding empty and `nan` Series test shouldn't be a problem, I'll work on that.

[2020-09-08 09:19] jbesomi commented on #179
Beautiful!

[2020-09-08 09:25] jbesomi commented on #173
The first question is, is that expected or a mistake from spaCy? "My" in this case is a possessive pronoun and therefore "-PRON-" make somehow sense.

I asked about this on the [spaCy gitter](https://gitter.im/explosion/spaCy#) but no answers for now.

[2020-09-08 09:47] jbesomi opened #180 "Issues with _types"
- Fix type checks to not fail if first value in series is NaN/missing, see #174
- We don't need anymore to check for RepresentationSeries
- Then we might not need to check for the number of levels .. `or s.index.nlevels != 1`? Or if we do we should have a separate warning message "number of level is too high ..."
- At line [163](https://github.com/jbesomi/texthero/blob/master/texthero/_types.py#L1

[2020-09-08 11:40] jbesomi commented on #172
@bhishanpdl want to help with that?

[2020-09-08 12:04] jbesomi commented on #173
Update: read [Annotation Specifications](https://spacy.io/api/annotation):

spaCy adds a special case for English pronouns: all English pronouns are lemmatized to the special token -PRON-. Unlike verbs and common nouns, there’s no clear base form of a personal pronoun. Should the lemma of “me” be “I”, or should we normalize person as well, giving “it” — or maybe “he”? spaCy’s solution is to introd

[2020-09-08 12:10] adrianhosak commented on #173
Yes, I would suggest doing it just like @AlfredWGA said. So all the pronouns are not getting lemmatized and we'll make that clear in the docstring.

[2020-09-08 13:28] jbesomi commented on #173
If the guys at spaCy decided to replace pronouns with -PRON- there must be a reason. I guess that's because when we lemmatize a text, we want to normalize it. With the -PRON- token we are achieving this.

What I suggest is to keep as default their approach but to give the user the opportunity to replace -PRON- with the respective token throughout a `keep_pron` (or `keep_pronouns`) parameter or som

[2020-09-08 13:32] AlfredWGA commented on #179
See #130 for test handling nan

[2020-09-08 18:40] jbesomi commented on #159
We are already using `black`, right? As far as I can tell there is no benefit of running flake8 on top of black, I'm missing something?

[2020-09-08 18:46] jbesomi commented on #155
In sklearn and similar toolkit we generally `model.fit_transform` on train data and only `model.transform` on text data. In Texthero we cannot do that as we don't have any model object (but that's fine somehow, we just need to have a clear position on that)

[2020-09-10 07:58] monkdou0 opened #182 "fillna should support customized fill content"
texthero.preprocessing.fillna()  only replace the nan with writespace.
It should support customized fill content

[2020-09-10 15:05] adrianhosak commented on #173
Great idea @jbesomi !

There are also some inconsistencies concerning punctuation and apostrophes. When spacy tokenizes the text it seperates punctuation from words. So when joining the tokens back together there will be free spaces where before there were none. Some ideas how to deal with this are

1. Removing punctuation before lemmatizing with `hero.remove_punctuation`:
This should not be done

[2020-09-10 15:36] mk2510 commented on #159
I got this idea from this [post](https://ljvmiranda921.github.io/notebook/2018/06/21/precommits-using-black-and-flake8/). Flake8 is basically a code linter, which will do some basic static checks. This will help us to prevent basic bugs, like using a variable before it was assigned, etc... . This is especially helpful as python is an interpreted language and in the worst case, some code lines aren

[2020-09-11 03:11] Parth-web-coder commented on #173
Hello jonathan besomi
I have issue that how i can improve my python skills , i want to become a
python programmer
please guide me.
*Thanks & regards*
*Parth Anand*
*E-mail I.D.  <I.D-anandparth06124@gmil.com> anandparth06124@gmail.com
<anandparth06124@gmail.com>*

On Thu, Sep 10, 2020 at 8:35 PM adrianhosak <notifications@github.com>
wrote:

[2020-09-11 06:40] henrifroese commented on #182
Makes sense. This looks like a good first issue! Do you want to work on this? @monkdou0

[2020-09-11 12:34] monkdou0 commented on #182
Of course.
I will try and then give the PR

[2020-09-12 10:34] henrifroese commented on #180
#### Checklist for the items:

- [ ] Fix type checks to not fail if first value in series is NaN/missing, see #174
- [ ] We don't need anymore to check for RepresentationSeries
- [ ] Then we might not need to check for the number of levels .. `or s.index.nlevels != 1`? Or if we do we should have a separate warning message "number of level is too high ..."
- [ ] At line [163](https://github.com/jbe

[2020-09-12 11:11] #43 closed

[2020-09-12 12:12] henrifroese commented on #180
Will leave this open until #157 is merged as we might encounter some more issues etc. :shrug: :man_shrugging: :woman_shrugging:

[2020-09-12 15:02] adrianhosak commented on #173
So to clarify my comment above here you see how the function creates extra spaces:
[code]
Notice the shift of the period and the apostrophe.

When removing punctuation first this happens:
[code]
As you can see the "m" could not be lemmatized to "be". The lemma_ attribute from spacy seems to be incompatible with hero.remove_punctuation if punctuation is removed before lemmatizing.

Another idea is

[2020-09-12 17:26] henrifroese opened #184 "Doctests are often skipped"
[Doctests](https://docs.python.org/3/library/doctest.html) are used in Texthero to make sure that _what we think the output will look like_ is also what it looks like. Example:

[code]

The "Examples" part is then executed by the doctest suite when running our testing script.

We have noticed that with more "complicated" outputs, we often need to skip the doctests as they _do_ work locally, but _d

[2020-09-13 05:10] Parth-web-coder commented on #173
Dear Jbesomi/Texthero,
Can  you please tell me some tricks to print pyramids in python?
I have some issue in pyramids as i am  in class11
Please clarify my issue.

*Thanks & regards*
*Parth Anand*
*E-mail I.D.  <I.D-anandparth06124@gmil.com> anandparth06124@gmail.com
<anandparth06124@gmail.com>*

On Sat, Sep 12, 2020 at 8:33 PM adrianhosak <notifications@github.com>
wrote:

[2020-09-13 07:25] henrifroese commented on #173
I agree it looks like the best option is allowing the spaces

[2020-09-13 12:43] adrianhosak commented on #173
Yes, I'll prepare the Pull Request

[2020-09-13 16:45] mk2510 commented on #155
so far I didn't start thinking about the missing fit feature, as fit is in general called on models, which can be fitted to your dataset (at least from my experience so far).
In those cases, where we work with models - which can be fitted, like in 'pca' or 'kmeans' - I think, we can mention it on the getting started page, that we call everytime fit_transform and don't provide the option to store t

[2020-09-14 13:40] jbesomi commented on #155
Agree. Yes, we can mention that in the (future) FAQ page.

[2020-09-14 13:40] #155 closed

[2020-09-15 13:49] AlfredWGA opened #187 "TypeError: assert_series_equal() got an unexpected keyword argument 'rtol'"
I clone the latest repo and run `python -m unittest discover -s tests -t .` locally, but getting errors like the following,

[code]

Seems like something to do with `pd.testing.assert_series_equal`. I am using `pandas==1.0.5` as `pandas>=1.0.2` requires, and Win10, why is this happening?

[2020-09-15 14:24] henrifroese commented on #187
Hmm, as far as I can see this does have to do with the Pandas version; we might need to increase the minimum required version for the developer dependencies. I'll look into it

[2020-09-15 14:27] henrifroese commented on #187
Just saw [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.testing.assert_series_equal.html) that it was added in version 1.1.0, so we'll need to increase the dev dependency to that 👌💡

[2020-09-15 14:29] AlfredWGA commented on #187
@henrifroese Thanks for the solution!

[2020-09-15 17:59] #187 closed

[2020-09-23 05:08] henrifroese opened #189 "Matching Content in our Docstrings"
It would be great to have more friendly and funny doctest text content (instead of "Aha", "Text", ...). It's also nicer for users if the docstring examples are all similar.

One idea, for instance, is to use famous sentences said by movie Superheroes. Here are a few examples:

- I have the power!
- Flame on!
- HULK SMASH!
- Holy ____ Batman!
- I am the vengeance, I am the night, I am BATMAN!
- I a

[2020-10-09 08:35] sanketughadmathe opened #191 "br is not removed from the text. Please fix this issue."
# br is not removed from the text. Please fix this issue.

# Original Text
I can't believe that you can actually buy Coke products on Amazon! **< br />< br />** If I was going to order any soft drink online, it would be Diet Coke with Lime.  The lime improves the taste of Diet Coke signifigantally and makes the aftertaste (from the artificial sweetener) much less noticeable.  Coke has quite intell

[2020-10-10 06:22] Kishore-abhimanyu commented on #191
can i take this issue? could you assign me to this?

[2020-10-10 06:37] jbesomi commented on #191
Sure!

Go for it!

Make sure to read the CONTRIBUTION.md file first.

If you need further support just ask.

Jonathan

On Sat, 10 Oct 2020 at 08:22, Kishore <notifications@github.com> wrote:

--
Inviato da Ipad

[2020-10-10 06:51] Kishore-abhimanyu commented on #191
can you tell me in which file this issue exists

[2020-10-10 12:05] hugoabonizio commented on #191
@Kishore-abhimanyu sorry, didn't see you were looking for tackling it, I saw this issue yesterday and thought in this implementation #192.

[2020-10-12 18:55] vincentclaes opened #193 "prevent texthero from downloading stopwords"
When importing texthero, by default the stopwords get downloaded.
you might not always use stopwords in your job and this can get you into trouble. What about downloading the stopwords only when we need them?

For the rest great work guys :)

[2020-10-12 20:59] jbesomi commented on #193
Hi Vincent!

Thank you for your comment, great idea! Do you want to fix that?

Regards,

[2020-10-20 19:59] #193 closed

[2020-10-21 19:26] #191 closed

[2020-11-03 20:06] cwhatley opened #196 "no visualizations in notebook - plotly not loading"
Seeing the message below in the browser console. Is there an additional install step required for visualizations to work? Running Jupyter 6.1.4, py 3.7.9, plotly-4.12.0, texthero-1.0.9, MacOS Safari & Chrome browsers

[code]

![image](https://user-images.githubusercontent.com/573757/98034601-42c73580-1de5-11eb-8a7b-5122723bb50a.png)

[2020-11-04 07:01] jbesomi commented on #196
Hi @cwhatley, this is probably a Plotly issue and not a Texthero's code issue. Have a look there for a solution: Getting Started with [Plotly - Jupyter Notebook Support](https://plotly.com/python/getting-started/#jupyter-notebook-support).
Please do let me know if that work!

[2020-12-04 11:19] k0pernicus commented on #189
Hi @henrifroese, this could be a good first issue in order to contribute to TextHero and explore a bit more the package.
I could work on it if nobody is working on.

[2020-12-04 11:23] k0pernicus commented on #182
I think this issue has been solved in #190, no?

[2020-12-04 11:29] jbesomi commented on #189
Hi @k0pernicus, indeed this is a good first issue, and nobody is working on it right now. So yes, you can take over this issue if you wish 👍🏻

[2020-12-04 11:39] jbesomi commented on #182
Right, thank you @k0pernicus!

[2020-12-04 11:39] #182 closed

[2020-12-04 11:44] k0pernicus commented on #166
Solved on #168 if I don't make any mistake - we can close this issue I think :)

[2020-12-04 11:51] jbesomi commented on #166
Thanks, Antoin! Keep up the good work!! 👍

[2020-12-04 11:51] #166 closed

[2020-12-15 10:03] foongminwong opened #199 "One of the dbscan categories is -1"
Hi, I was trying to run dbscan on some texts and create a scatterplot.

I wonder why my `dbscan_labels` has a -1 category (not sure what it means):

[code]

![image](https://user-images.githubusercontent.com/23441795/102199063-1fbc9500-3efe-11eb-8dcc-7b1fd24f22d6.png)

I tried running using k-means previously and the clusters/scatter plot look good:

[code]

![image](https://user-images.githubuser

[2020-12-15 11:35] jbesomi commented on #199
Hi @foongminwong, thank you for reaching out!

[DBSCAN](https://en.wikipedia.org/wiki/DBSCAN) classify points into different classes, one of which is "noise point" / outliers. -1 indicates that these points have been classified as such from your DB algorithm.

We will need to update the docstring of the [texthero.representation.dbscan](https://texthero.org/docs/api/texthero.representation.dbscan)

[2020-12-31 10:22] henrifroese commented on #180
Can be closed as #157 is merged, see comment above.

[2020-12-31 10:22] #180 closed

[2021-01-04 13:50] M-I-Dx opened #201 "remove_diacritics for other languages"
I am working on a dataset that has text from English, Japanese, Italian, Dutch, Spanish, German and Swedish. I want to know that happens if I run the remove_diacritics on this dataset. Also how does it effect the emojis present in the text.

[2021-01-04 17:57] henrifroese commented on #201
Hi, `remove_diacritics` internally transfors a given text to its [NFKD normal form](https://en.wikipedia.org/wiki/Unicode_equivalence#Normal_forms) and then throws out all characters that are [combining](https://en.wikipedia.org/wiki/Combining_character). So it won't affect any emojis :ok_hand:

[2021-01-04 18:32] M-I-Dx commented on #201
What about characters specific to other languages?

[2021-01-04 19:53] mk2510 commented on #201
which characters do you have in mind? But like @henrifroese mentioned the [NFKD normal form](https://en.wikipedia.org/wiki/Unicode_equivalence#Normal_forms) includes all normal characters from these languages. For Japanese, it would be helpful if you could specify, which writing system you want to process 🥇

However, if you just try out the special characters with the function, you can test by you

[2021-01-12 11:50] jbesomi commented on #145
@henrifroese, would you mind help us with that? As you are already familiar with the Series subject.

[2021-01-15 20:43] henrifroese commented on #145
@jbesomi with what part do you need help? Or in general?

I think that overall, as described in #131 the spaCy version without parallelization is too slow to be useful for texthero. With the spaCy parallelization it's still a lot slower than the regex version, but useable, and with the parallelization from #162 , it's pretty fast and useable.

However, I'm not 100% convinced we should always token

[2021-03-24 07:29] rahul4tripathi2 opened #204 "AttributeError: 'str' object has no attribute 'pipe'"
Hi Team,

I'm trying to run texthero on top of cleaned text but getting error when running below code

from goose3 import Goose
from requests import get
import pandas as pd

response = get('https://www.autoindustria.com.br/2020/10/15/simposio-sae-online-destaca-cases-de-sucesso-em-manufatura/')
extractor = Goose({'browser_user_agent': 'Mozilla', 'parser_class':'soup'})
#extractor = Goose()
article

[2021-03-24 09:11] jbesomi commented on #204
Hi,

As per the [API documentation](https://texthero.org/docs/api/texthero.preprocessing.clean), `clean` requires as input a Pandas Series. You are passing it a string.

To solve your issue, you need first to convert `text` into a Pandas Series. Something like that should do the work:

[code]

Hope it help. I'm gonna close that issue now, if you need further assistance just reopen the issue.
Regar

[2021-03-24 09:11] #204 closed

[2021-03-30 02:17] kennylajara opened #205 "I can help with the spanish."
I recently found this library and I really like it.

I am certainly not an expert in machine learning but I hope to help and learn a lot while contributing to the development of the library.

[2021-04-04 11:20] kennylajara commented on #173
I think this issue can be closed now.

[2021-04-04 14:32] jbesomi commented on #173
Thanks!

[2021-04-04 14:32] #173 closed

[2021-04-11 00:38] tony commented on #40
I got here via Google. I was expecting to see the _opposite_: "Move website from sphinx to Docusaurus". I'm surprised.

I'm a python programmer that uses sphinx-doc on 10+ websites (including API generation). I prefer markdown.

One area where Sphinx is strong is API documentation. I haven't been able to find a suitable alternative.

https://tmuxp.git-pull.com - example of a sphinx site, and recen

[2021-04-12 09:03] kennylajara commented on #205
Almost 2 weeks and no answer received. I am closing this issue.

[2021-04-12 09:03] #205 closed

[2021-04-12 09:08] jbesomi commented on #205
Hey @kennylajara, sorry for the late reply. Right now, we are more focused on bringing a new version (2.0) with the HeroSeries, rather than the multilingual approach. I will adapt the README to mirror this change. If you are interested in helping out, I suggest you read here: #200.
Thanks,

[2021-04-13 20:51] aliforgetti opened #207 "punctuation not being removed correctly using `preprocessing.clean`"
This is my code and I was trying to clean a large dataset

[code]

According to the documentation this is the default pipeline for the `clean` functionality:

[code]

But my ouput does not reflect this as some of the punctuation remained in the text.

Original text column
![image](https://user-images.githubusercontent.com/17579534/114619307-ff180800-9c6f-11eb-87ec-2176799b4302.png)

Preprocessed t

[2021-04-14 10:59] henrifroese commented on #207
Hi, could you paste the actual data you're using? (Just one of the texts would help probably).

For me with the beginning of your first text, the punctuation is removed successfully:
[code]

The issue is probably that some punctuation in your text is not "standard" punctuation (texthero internally uses `import string; string.punctuation` so if it's not in there it won't be removed

[2021-04-16 11:05] harishsdev opened #208 "Help Needed for TODO"
Hi Team,

 I saw TODO  in representation.py,can some one tell me what exactly is required here,

 please guide what is add here such that i can also contribute

 Regards,
 S.Harish

[2021-04-16 11:43] jbesomi commented on #208
Hey @harishsdev,  in `representation.py` there are some missing documentation links. Almost all TODO refers to that, at the exception of one TODO that refers to the introduction of Topic modeling (#163). If you want to help, we are planning the release of Version 2.0, have a look and comment directly there please: #200

[2021-04-16 11:43] #208 closed

[2021-04-16 11:45] jbesomi commented on #207
Thank you @henrifroese. @aliforgetti do you have any updates?

[2021-04-24 17:11] harishsdev commented on #172
i saw the solution for the above in torchaudio,can i submit PR by porting from torchaudio to texthero

[2021-04-24 18:03] bhishanpdl commented on #172
@jbesomi  and @harishsdev You guys are more than welcome to send the PR to the developers. I would greatly appreciate that.

[2021-05-29 18:50] VinayChaudhari1996 opened #209 "[Bugs] : 'gensim.sklearn_api' and Unicode issue"
Hello Guys,

`Version : texthero 1.0.9`
`python : 3.7.10
`

 **BUG 1**
____
![image](https://user-images.githubusercontent.com/42869040/120081620-2e79bb80-c0dc-11eb-947e-ee589d9cd698.png)

 **BUG 2**
____

For fixing this issue, I installed **texthero==1.0.5** but I get a second issue,

![image](https://user-images.githubusercontent.com/42869040/120081739-b8298900-c0dc-11eb-8813-c1482dedac56.png)

[2021-05-29 19:41] henrifroese commented on #209
This was solved in #206 but it's not yet published so `pip install` doesn't get that yet.

Try doing  `pip install git+https://github.com/jbesomi/texthero.git`

[2021-05-30 07:35] VinayChaudhari1996 commented on #209
Hi @henrifroese

Thanks for response ,
But how can I add it in requirements.txt ?
I'm deploying automatic build.

[2021-05-30 08:42] henrifroese commented on #209
Instead of `texthero`, put the line `git+git://github.com/jbesomi/texthero.git#egg=texthero` into the requirements.txt, that should work

[2021-05-30 17:26] VinayChaudhari1996 commented on #209
Thanks @henrifroese
It works for me :)

[2021-05-30 17:26] #209 closed

[2021-06-02 13:05] karndeepsingh opened #210 "import texthero error"
When I am trying to import texthero it throws and error saying :
ModuleNotFoundError: No module named 'gensim.sklearn_api'

I tried installing gensim and upgraded it but nothing seems to work. Any help would be appreciated.

[2021-06-02 13:52] henrifroese commented on #210
Check here https://github.com/jbesomi/texthero/issues/209 if that helps, i.e. do ` pip install git+https://github.com/jbesomi/texthero.git` (if you already have texthero, maybe do `pip uninstall texthero` first)

[2021-06-02 13:53] henrifroese commented on #210
@jbesomi maybe you can put this onto the README until the next version is on PyPI, so people know how they can install texthero as `pip install texthero` is not working currently

[2021-06-02 14:03] jbesomi commented on #210
Thanks for pointing this out @karndeepsingh and @henrifroese for your quick reply.

I believe we should fix that directly on pip. I will make a release tonight that includes #209.

Thanks!

[2021-06-17 04:56] cameronstewart opened #211 "Module has no name errors"
![image](https://user-images.githubusercontent.com/418413/122333902-6ea9bc80-cf6b-11eb-8779-710f06727816.png)
Please help

[2021-06-18 13:54] henrifroese commented on #211
Try `pip uninstall texthero`, then `pip install git+https://github.com/jbesomi/texthero.git`

[2021-06-30 16:00] leomaurodesenv opened #212 "Discussion - stopwords"
I liked the `texthero`, and I want to contribute in somehow.
First, I want to discuss something that boring me - stopwords..

**Problem** - I want to deploy a solution without the `spacy` stopwords requirements, and, possible, add my own stopwords.
My solution is based on Docker containers, is a bad practice download files every time that a new containers is instanced, causing a cold start problem

[2021-07-01 03:53] cameronstewart commented on #211
Hi @henrifroese , done this, it seems that any of the nlp functions are not working.  have installed spacy separately.

Even simple things like this are not working, produce same errors.
![image](https://user-images.githubusercontent.com/418413/124062228-f0691200-da62-11eb-99ad-4a6cc644eaa4.png)

All other things work great (eg tfidf, scatter plots etc as per your documentation)

[2021-07-01 15:07] jbesomi commented on #212
Hi Leonardo, thank you for opening this issue. I agree with you, it's quite annoying that stopwords are downloaded even when they are not needed. This should have been fixed in #194. I will soon release a new version that includes the patch.

Regarding your other questions:

1. Removal of spacy stopwords requirements. I believe we can completely get rid of spacy requirements by saving in a txt fil

[2021-07-01 17:17] jbesomi commented on #210
Hey! I just released Texthero 1.1.0 that should hopefully fix that issue. Would you mind downloading and try and let me know in case of any issue? Thanks!

[2021-07-01 17:17] #210 closed

[2021-07-01 17:19] jbesomi commented on #212
Hi Leonardo,

I just released a new version (Texthero 1.1.0); now stopwords should be downloaded lazily. Would you mind try it and let me know? Later on, we can discuss your other great points further!

[2021-07-01 17:25] jbesomi commented on #211
Hi @cameronstewart, for some reason, your version of texthero in the jupyter notebook is < 1.0.8. Note that most of texthero.nlp functions have been introduced on Texthero 1.0.8 onwards.

If you are using conda, make sure you have installed Texthero in your current environment.

I'm closing this issue, feel free to open it again in case of need.
Best,

[2021-07-01 17:25] #211 closed

[2021-07-01 17:29] jbesomi commented on #201
Thanks @mk2510 and @henrifroese for your help! @M-I-Dx do you have any updates? Otherwise, I will close the issue.

[2021-07-01 17:29] #196 closed

[2021-07-01 17:32] jbesomi commented on #172
Hey @harishsdev, sure, if torchaudio has a working solution, it would be great if you can port it to Texthero. Let me know, thanks!

[2021-07-01 17:33] jbesomi commented on #171
@henrifroese thanks! Can I close this issue?

[2021-07-01 17:33] #201 closed

[2021-07-01 17:36] jbesomi commented on #159
Hey @mk2510, have you ever used flake8 before? It would be great to test it on the current codebase and see how many advices it provides. Would you mind try it and let us know?

[2021-07-02 06:18] henrifroese commented on #171
yes should be good

[2021-07-02 06:18] #171 closed

[2021-07-02 06:40] mk2510 commented on #159
Hej @jbesomi I used style guides in other projects and languages before. As I am running short on time this July, as my BT takes more time than expected I will have the time again in August to do those tests. 😇 :octocat:

[2021-07-02 08:07] jbesomi commented on #159
Ok, let's talk soon! Thanks, and good luck with your BT!

[2021-07-03 23:27] leomaurodesenv commented on #212
Hello @jbesomi , sorry for my late answer.
Sure, I'm going to try out next week.

Yes, I would like to help. But, I'm not sure how to support multi-lingual stopwords.. But add multi-lingual embeddings could improve, and slowly the code. This is tough.. heheh

Removal of spacy stopwords requirements. I'm going to take a look and send a message here.

[2021-07-08 12:49] jbesomi commented on #212
Thanks for the update Leo. As you suggested, we can start by improving the stopwords (for English) and see how it goes. Multilingual support requires some thinking and refactoring, we can discuss that later on once the simpler version is implemented.
Best,

[2021-07-16 16:37] plaban1981 opened #213 "How to retrieve TDIDF feature names"
Like in sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
vect =TfidfVectorizer(max_features=100)
vect_text=vect.fit_transform(rev['clean_text'])

we can retrieve feature names corresponding to the vectors using vect.get_feature_names()

is there a similar functionality in texthero ?

[2021-07-19 09:44] jbesomi commented on #213
Hi @plaban1981, as explained in the [TFIDF API page](https://texthero.org/docs/api/texthero.representation.tfidf) you should be able to obtain features names by setting "return_features_names=True" on the tfidf function. Hope it helps! I'm closing this issue.

[2021-07-19 09:45] #213 closed

[2021-08-01 09:37] skwolvie opened #214 "Question regarding application of this tool to other language documents"
Question. Can i use this tool with other language documents like japanese, spanish, ...?

If yes how? If not, how can we extend this and what is the template to contribute?

Thanks

[2021-08-07 08:18] Akash-Rawat commented on #210
tysm, it worked in my case. I had error that was saying, import module error

[2021-08-16 18:02] rafamp commented on #214
Yes, it works fine, at least for western characters.

 The only things you'll need to change is the stop words and stemming.

[2021-10-29 04:47] mzeidhassan opened #215 "spaCy 3 support"
It seems texthero supports spaCy 2.3.7 only, not the latest version of spaCy 3. Any plans to update the package to make it compatible with spaCy 3?

[2021-11-06 08:24] pyaepyaelily opened #216 "here.scatterplot not working"
I am trying to do word clustering using pca and k means.

Below is my dataframe

![photo6066763755573849685 (1)](https://user-images.githubusercontent.com/33302651/140603205-af054336-d606-436b-9ce8-eb1c2a77b6b7.jpg)

when i use her.scatterplot, it is not showing anything.
![photo6066763755573849686](https://user-images.githubusercontent.com/33302651/140603227-fc9ba05b-f5a6-4be1-8099-53bcdc941bea.j

[2021-11-06 11:04] #216 closed

[2021-11-15 18:22] nkadochn opened #217 "Can't get texthero to work with current versions of spacy and gensim"
I am having hard time resolving the dependencies with texthero.  Looks like the current versions of Gensim and Spacy are incompatible with texthero

Gensim error: ModuleNotFoundError: No module named 'gensim.sklearn_api'
Spacy error: modulenotfounderror: no module named 'thinc.types'

[2021-11-16 11:31] jbesomi commented on #217
Hey Nick @nkadochn , thank you for your message.

I update both Gensim and Spacy to the latest versions and tried to understand the issues. Here is what I discovered:

Gensim. Texthero supports Gensim version 3.8.3. Unfortunately, Gensim V4 is not backward compatible with V3 and moreover, the API completely changed for the [Phrases](https://radimrehurek.com/gensim/models/phrases.html) module (Text

[2021-11-18 17:37] astrojuanlu commented on #40
Also arrived here from Google and also surprised 🙃

You can write Markdown in Sphinx: https://myst-parser.readthedocs.io/

[2021-12-25 21:21] ostwaldj opened #218 "kmeans error: __init__() got an unexpected keyword argument 'precompute_distances'"
Created a new virtual env with only Texthero and its dependencies installed. A year or more ago it worked, but now when I try to run kmeans, e.g.
.pipe(hero.kmeans,n_clusters=5)
it errors:
__init__() got an unexpected keyword argument 'precompute_distances'

This happens with my own data and code, and also when I paste the BBCSport sample code in as well.

[2022-01-24 06:20] MasterMedo commented on #40
I'm also switching from sphinx to docusaurus. pydoc-markdown + docusaurus renderer is exactly what I was searching for. Thanks, @tony.

[2022-02-02 13:24] PhelaPoscam commented on #218
Same problem.

Seems like sklearn.cluster.KMeans dont use precompute_distances anymore

https://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html?highlight=kmeans#sklearn.cluster.KMeans

[2022-03-09 00:51] batmanscode opened #219 "[QUESTION] What is the normalization method used in `top_words()`?"

[2022-03-17 21:07] batmanscode opened #220 "How can I remove all punctuation except for "@""
Hi, I'd like to preserve the @ symbol. For my use case, this helps me identify usernames

Are there any ways I can remove all punctuation except this?

I've currently been using `remove_punctuation()`

[2022-03-19 16:08] batmanscode opened #221 "`remove_punctuation()` is not removing "\""
[code]

[2022-04-18 00:24] svthiago opened #222 "Deprecated arguments on kmeans"
When I tried to use kmeans I noticed that a couple of deprecated arguments were used to make the function call: precompute_distances and n_jobs. After I removed them it worked fine. Tried both on version 1.1.0 and 1.0.9. I would make a PR about it but the code on the main branch looks different from the one installed with pip install.

[2022-04-18 00:27] svthiago commented on #222
This issue is happening on file representation.py lines 218 and 236.

[2022-04-20 06:19] jbesomi commented on #222
Thanks, @svthiago. I will look into that and fix it soon. If you are interested to work on that and want to open a PR, that would be very appreciated!

[2022-04-23 02:20] RAravindDS opened #223 "Import error"
KeyError: "[E002] Can't find factory for 'tok2vec'. This usually happens when spaCy calls `nlp.create_pipe` with a component name that's not built in - for example, when constructing the pipeline from a model's meta.json. If you're using a custom component, you can write to `Language.factories['tok2vec']` or remove it from the model meta and add it via `nlp.add_pipe` instead.

Tried in my virtual

[2022-04-23 18:25] #111 closed

[2022-04-28 17:16] hectorhernandezbabbel opened #224 "Import Error (YAML Loader)"
Dear TextHero Team,

I'm having some issues importing `texthero` on Colab notebooks. There seems to be a problem with how the YAML Loader is called.

Thanks a lot for your help in advance.

![image](https://user-images.githubusercontent.com/50232137/165807964-9d1cfc56-0c00-443b-a141-2d1a66442ca6.png)

[2022-04-29 14:00] #224 closed

[2022-05-09 03:41] Wes-Wwang opened #225 "installation error: Could not build wheels for spacy, which is required to install pyproject.toml-based projects"
Hi, I ran into an error when I tried to install Texthero. I already all packages needed such as spacy, gensim, etc. But when installation processed to building wheel for gensim, error showed up:

**Failed to build gensim spacy
ERROR: Could not build wheels for spacy, which is required to install pyproject.toml-based projects**

I'm wondering if you can help point out in which direction I should be

[2022-05-09 19:00] akthammomani commented on #222
@jbesomi Please let us know if there's any update in this error. Thanks for the support

[2022-05-10 20:40] jbesomi commented on #222
Hey @akthammomani. I can look into that during the weekend. If you happen to have some free time and feel like contributing, I would love to receive your PR 🎉

[2022-05-11 22:06] JoseDeFreitas commented on #63
Hello. I'm no longer interested in translating the content of this repository into Spanish. Sorry, and thank you for the opportunity anyway.

[2022-05-11 22:06] #63 closed

[2022-05-16 20:07] akthammomani commented on #222
Hi @jbesomi, as pointed out by @svthiago: The code on the main branch is different from the one installed with pip install.

Thank you

[2022-05-19 05:24] harshraj-wadhwani commented on #155
@mk2510 Any plans to add `fit` method ?
Or is there any way by which I can fit on train data, save to pickle file, and transform on test data ?

[2022-06-20 00:33] macleodsarah commented on #225
I found this page on [python wheels](https://realpython.com/python-wheels/#telling-pip-what-to-download) useful.

I think the solution may be different between different OS/pip versions. What worked for me on ubuntu was the command `python3 -m pip install --only-binary :all:  --no-cache texthero`, because like you I was getting wheels error for dependencies.

Not sure if it helped but I also had t

[2022-09-10 16:56] richramalho commented on #220
I don't think there's any way to do that right now.

Maybe a solution would be to change the function code and add a new parameter `except_punctuation`. And with that, the function would not remove the scores passed by the parameter.

[2022-09-11 15:23] batmanscode commented on #220
Seems so @richramalho. `except_punctuation` is a good idea!

[2022-09-16 17:43] DaytaSigntist commented on #223
@RAravindDS Have you had any luck on this issue? I have encountered the same. Tried in a new Colab environment and got the same error.

[2022-09-16 22:45] RAravindDS commented on #223
@DaytaSigntist Hey, Try creating pd.series before passing to it.